<!--
  ~ Copyright 2005-2011 WSO2, Inc. (http://wso2.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the License);
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an AS IS BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<dataBridgeConfiguration>

    <workerThreads>{{transport.receiver.worker_threads}}</workerThreads>

    <!--Maximum amount of messages that can be queued internally in MB-->
    <maxEventBufferCapacity>10</maxEventBufferCapacity>

    <!-- Queue size; the maximum number of events that can be stored in the queue -->
    <eventBufferSize>2000</eventBufferSize>
    <clientTimeoutMin>{{transport.receiver.session_timeout}}</clientTimeoutMin>

    <keyStoreLocation>{{transport.receiver.keystore_location}}</keyStoreLocation>
    <keyStorePassword>{{transport.receiver.keystore_password}}</keyStorePassword>

    <!--todo: need to remove and fix the code-->
    <dataReceiver name="Thrift">
        <config name="tcpPort">7611</config>
        <config name="sslPort">7711</config>
    </dataReceiver>

    <dataReceiver name="Binary">
        <config name="tcpPort">{{transport.receiver.tcp_port}}</config>
        <config name="sslPort">{{transport.receiver.ssl_port}}</config>
        <config name="sslReceiverThreadPoolSize">{{transport.receiver.ssl_receiver_thread_pool_size}}</config>
        <config name="tcpReceiverThreadPoolSize">{{transport.receiver.tcp_receiver_thread_pool_size}}</config>
        {% if transport.receiver.ssl_enabled_protocols is defined %}
        <config name="sslEnabledProtocols">{% for protocol in transport.receiver.ssl_enabled_protocols %}{{protocol}}{{- "," if not loop.last -}}{% endfor %}</config>
        {% endif %}
        {% if transport.receiver.ciphers is defined %}
        <config name="ciphers">{% for cipher in transport.receiver.ciphers %}{{cipher}}{{- "," if not loop.last -}}{% endfor %}</config>
        {% endif %}
    </dataReceiver>

</dataBridgeConfiguration>
