<?xml version="1.0" encoding="UTF-8"?>
<inboundEndpoint xmlns="http://ws.apache.org/ns/synapse"
                 name="WebSocketInboundEndpoint"
                 sequence="{{apim.ws.dispatch.sequence}}"
                 onError="{{apim.ws.dispatch.on_error.sequence}}"
                 protocol="ws"
                 suspend="false">
    <parameters>
        <parameter name="inbound.ws.port">{{apim.ws.port}}</parameter>
        <parameter name="ws.outflow.dispatch.sequence">{{apim.ws.out_dispatch_seq}}</parameter>
        <parameter name="ws.pipeline.handler.class">{{apim.ws.handler.class}}</parameter>
        <parameter name="dispatch.custom.sequence">{{apim.ws.dispatch.custom.sequence}}</parameter>
        <parameter name="ws.outflow.dispatch.fault.sequence">{{apim.ws.outflow.dispatch.fault.sequence}}</parameter>
        <parameter name="ws.client.side.broadcast.level">{{apim.ws.client.side.broadcast.level}}</parameter>
        <parameter name="ws.use.port.offset">true</parameter>
        {%if apim.ws.dispatch.idleTime is defined %}
        <parameter name="ws.dispatch.idleTime">{{apim.ws.dispatch.idleTime}}</parameter>
        {%endif%}
        {%if apim.ws.outflow.dispatch.idleTime is defined %}
        <parameter name="ws.outflow.dispatch.idleTime">{{apim.ws.outflow.dispatch.idleTime}}</parameter>
        {%endif%}
        {%if apim.ws.pass_through_control_frames is defined %}
        <parameter name="ws.pass.through.control.frames">{{apim.ws.pass_through_control_frames}}</parameter>
        {%endif%}
    </parameters>
</inboundEndpoint> 
