<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ApiManager-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>


    <test name="apim-integration-tests-api-lifecycle" preserve-order="true" parallel="false">

        <!--Comment these as well-->
        <classes>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIManagerConfigurationChangeTest"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.AccessibilityOfBlockAPITestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.AccessibilityOfDeprecatedOldAPIAndPublishedCopyAPITestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.AccessibilityOfOldAPIAndCopyAPIWithOutReSubscriptionTestCase"/>
            <!--&lt;!&ndash;Disable the test case because of APIMANAGER-3374&ndash;&gt;-->
            <!--commented out due to this https://wso2.org/jira/browse/TA-974-->
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.AccessibilityOfOldAPIAndCopyAPIWithReSubscriptionTestCase"/>-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.AccessibilityOfRetireAPITestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.AddEditRemoveRESTResourceTestCase"/>
            <!--&lt;!&ndash;https://wso2.org/jira/browse/TA-970&ndash;&gt;-->
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.AddNewHandlerAndInvokeAPITestCase"/>-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.AddNewMediationAndInvokeAPITestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIAccessibilityOfPublishedOldAPIAndPublishedCopyAPITestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIPublishingAndVisibilityInStoreTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIVisibilityByDomainTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIVisibilityByPublicTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIVisibilityByRoleTestCase"/>
            <!--Disable the test case because of APIMANAGER-3378-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.ChangeAPIEndPointURLTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.ChangeAPITagsTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.ChangeAPITierAndTestInvokingTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.PluggableVersioningStrategyTestCase"/>
            <!--&lt;!&ndash;&lt;!&ndash;Disable the test case because ofAPIMANAGER-3549&ndash;&gt;&ndash;&gt;-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.ChangeApplicationTierAndTestInvokingTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.ChangeAuthTypeOfResourceTestCase"/>
            <!--&lt;!&ndash;Disable the test case because ofAPIMANAGER-3515&ndash;&gt;-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.ChangeEndPointSecurityOfAPITestCase"/>
            <!--&lt;!&ndash;Disable the test case because of APIMANAGER-3530. this blocks the verification of the API. Need to update swagger after this issue is fixed&ndash;&gt;-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.ChangeResourceTierAndTestInvokingTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.EditAPIAndCheckUpdatedInformationTestCase"/>
            <!--&lt;!&ndash;Disable the test case because of APIMANAGER-3377&ndash;&gt;-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.EditAPIContextAndCheckAccessibilityTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.EditTiersXMLAndVerifyInPublisherTestCase"/>
            <!--&lt;!&ndash;Disable the test case because of APIMANAGER-3229&ndash;&gt;-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.UsersAndDocsInAPIOverviewTestCase"/>
        </classes>
    </test>


    <test name="apim-integration-tests-samples" preserve-order="true" parallel="false">

        <classes>

            <!--<class name="org.wso2.am.integration.tests.login.LoginValidationTestCase"/>
            <class name="org.wso2.am.integration.tests.server.mgt.APIMgtServerStartupTestCase"/>
            <class name="org.wso2.am.integration.tests.other.APIInvocationFailureTestCase"/>
            <class name="org.wso2.am.integration.tests.token.APIManager3152RefreshTokenTestCase"/>
            <class name="org.wso2.am.integration.tests.resources.APIResourceModificationTestCase"/>
            <class name="org.wso2.am.integration.tests.other.DAOTestCase"/>
            <class name="org.wso2.am.integration.tests.version.DefaultVersionAPITestCase"/>
            <class name="org.wso2.am.integration.tests.login.EmailUserNameLoginTestCase"/>-->
            <class name="org.wso2.am.integration.tests.other.DigestAuthenticationTestCase"/>
            <!--<class name="org.wso2.am.integration.tests.other.ErrorMessageTypeTestCase"/>--> <!-- Previously commented-->
            <!--<class name="org.wso2.am.integration.tests.json.ESBJAVA3380TestCase"/>
            <class name="org.wso2.am.integration.tests.jwt.JWTTestCase"/>
            <class name="org.wso2.am.integration.tests.token.RefreshTokenTestCase"/>
            <class name="org.wso2.am.integration.tests.other.TagsRatingCommentTestCase"/>
            <class name="org.wso2.am.integration.tests.throttling.ThrottlingTestCase"/>
            <class name="org.wso2.am.integration.tests.token.TokenAPITestCase"/>-->
            <!--<class name="org.wso2.am.integration.tests.token.OpenIDTokenAPITestCase"/>--> <!-- Previously commented this and the next together-->
            <!--<class name="org.wso2.am.integration.tests.samples.YouTubeAPITestCase"/>--> <!-- Previously commented-->
            <!--<class name="org.wso2.am.integration.tests.rest.URLMappingRESTTestCase"/>
            <class name="org.wso2.am.integration.tests.other.APIMANAGER2611EndpointValidationTestCase"/>
            <class name="org.wso2.am.integration.tests.server.mgt.OSGIServerBundleStatusTestCase"/>
            <class name="org.wso2.am.integration.tests.other.APIScopeTestCase"/>
            <class name="org.wso2.am.integration.tests.other.TokenEncryptionScopeTestCase"/>
            <class name="org.wso2.am.integration.tests.other.LocationHeaderTestCase"/>
            <class name="org.wso2.am.integration.tests.other.RelativeUrlLocationHeaderTestCase"/>
            <class name="org.wso2.am.integration.tests.hostobject.HostObjectTestCase"/>
            <class name="org.wso2.am.integration.tests.other.APIMANAGER4081PaginationCountTestCase"/>
            <class name="org.wso2.am.integration.tests.rest.SearchPaginatedAPIsWithMultipleStatusTestCase"/>-->
            <!-- <class name="org.wso2.am.integration.tests.jwt.EmailUserNameJWTAssertionTestCase"/>
          <class name="org.wso2.am.integration.tests.otherDefaultVersionWithScopesTesCase"/>
          <class name="org.wso2.am.integration.tests.header.ContentLengthHeaderTestCase"/> --> <!-- Previously commented-->

        </classes>
    </test>

</suite>
