<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ApiManager-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>


    <test name="apim-integration-tests-api-common" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.am.integration.tests.other.AdvancedWebAppDeploymentConfig"/>
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.AddEditRemoveRESTResourceTestCase"/>-->
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.PluggableVersioningStrategyTestCase"/>-->
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.ChangeAPIEndPointURLTestCase"/>-->
            <!--<class name="org.wso2.am.integration.tests.jwt.JWTRevocationTestCase"/>-->
        </classes>
    </test>

    <test name="apim-integration-tests-api-application-lifecycle" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.APIMANAGER5337SubscriptionRetainTestCase"/>-->
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.APIPublishingAndVisibilityInStoreTestCase"/>-->
            <!--<class name="org.wso2.am.integration.tests.api.lifecycle.AccessibilityOfDeprecatedOldAPIAndPublishedCopyAPITestCase"/>-->
            <class name="org.wso2.am.integration.tests.api.lifecycle.NewVersionUpdateTestCase"/>
            <!--<class name="org.wso2.am.integration.tests.other.NotificationTestCase"/>-->
            <!--<class name="org.wso2.am.integration.tests.sequence.DefaultEndpointTestCase"/>-->
            <class name="org.wso2.am.integration.tests.oas.OASTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIVisibilityByPublicTestCase"/>
            <class name="org.wso2.am.integration.tests.api.lifecycle.APIVisibilityByDomainTestCase"/>
        </classes>
    </test>

    <test name="apim-integration-tests-other" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.am.integration.tests.other.NewCopyWithDefaultVersion" />
            <class name="org.wso2.am.integration.tests.other.SameVersionAPITestCase" />
            <class name="org.wso2.am.integration.tests.other.APIM678ApplicationCreationTestCase" />
            <class name="org.wso2.am.integration.tests.other.APIMANAGER3226APINameWithDifferentCaseTestCase"/>
        </classes>
    </test>

    <test name="apim-integration-tests-samples" group-by-instances="true"  preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.am.integration.tests.other.LocationHeaderTestCase" />
            <class name="org.wso2.am.integration.tests.other.RelativeUrlLocationHeaderTestCase" />
            <class name="org.wso2.am.integration.tests.other.APIMANAGER4081PaginationCountTestCase"/>
        </classes>
    </test>

    <test name="apim-integration-tests-version" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.am.integration.tests.version.DefaultVersionAPITestCase" />
            <class name="org.wso2.am.integration.tests.version.DefaultVersionWithScopesTestCase" />
        </classes>
    </test>

    <test name="apim-publisher-tests" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.am.integration.tests.prototype.APIM23VisibilityOfPrototypedAPIInStoreTestCase"/>
        </classes>
    </test>
    
    <test name="apim-store-tests" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.am.integration.tests.application.APIMANAGER3706ApplicationUpdateTestCase"/>
        </classes>
    </test>
</suite>
