body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

h1{
	text-align:center;
	font-weight:normal;
	font-size:25px;
}

h2{
	margin-bottom:50px;
}

h3{
	clear:both;
}

hr{
	border:none;
	clear: both;
	margin: 0;
	padding: 0;
}

.ui-sliderDemo{
	margin-bottom:50px;
}

.slider,
.dateSlider{
	width:100%;
	margin:20px auto;
	padding-top:20px;
}
.tick{
	border-left:1px solid black;
	position:absolute;
	top:0;
	height:20px;
	text-align:right;
}
.sliderZone dl input{
	text-align:right;
	margin-left:5px;
	margin-right:0;
	width:200px;	
}
.sliderZone img{
	vertical-align:middle;
}

.sliderZone dl{
	margin-bottom:50px;
}

.sliderZone{
	height:40px;
}

pre{
	overflow:auto;
	margin-right:400px;
}
pre code{
	tab-interval:  2pt;
	display:block;
	border-width:1px 1px 1px 15px;
	border-style:solid;
	border-color:#CCC;
	color:#444;
	padding:5px 10px;
	margin:0 5px;
	font-family:Consolas, Monaco, Arial, Helvetica, sans-serif;
	font-size:12px;
}

pre code .comment{
	color:#5e7f5f;
}

dt{
	font-weight:bold;
	float:left;
	clear:left;
	width:150px;
	margin-bottom:2px;
}

dt+dd{
	margin-top:2px;
}

dd{
	padding-left:15px;
	margin-left:0;
	margin-left:150px;
}

.wrapper{
	width:100%;
	float:left;
}

.sliderZone,
.logZone{
	margin-right:400px;
}

.options{
	width:400px;
	float:left;
	margin-left:-400px;
}

input[type=number]{
	width:3em;
}

.options form{
	margin:0 10px;
}

.log{
	height: 140px;
	overflow: auto;
	background-color:#555;
	font-family:Consolas Courrier "Courrier New" Monospace;
	color: #DDD;
	padding: 5px;
	list-style-type:none;
}

.log p{
	margin:0;
	padding: 0;
}

#themeSelector{
	width:100%;
	height:100px;
	position: relative
}

#themeSelector dt,
#themeSelector dd{
	position: absolute;
	width:120px;
	text-align:center;
	margin:0 5px;
	cursor: pointer;
	border:3px solid transparent;
}

#themeSelector dt{
	bottom:0;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}

#themeSelector dd{
	top:0;
	padding: 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}

#themeSelector .iThing{
	left:130px;
}

#themeSelector .selected{
}

#themeSelector dd.selected{
	border-color:#68a1d6;
	border-bottom-color:transparent;
}

#themeSelector dt.selected{
	border-color:#68a1d6;
	border-top-color:transparent;
}


