<class name="org.wso2.carbon.apimgt.gateway.mediators.ClaimBasedResourceAccessValidationMediator">
    <property name="accessVerificationClaim"  value = "{{accessVerificationClaim}}"/>
    <property name="accessVerificationClaimValue" value="{{accessVerificationClaimValue}}"/>
    <property name="accessVerificationClaimValueRegex" value="{{accessVerificationClaimValueRegex}}"/>
    <property name="shouldAllowValidation" value="{{shouldAllowValidation}}"/>
</class>
