<property name="grantVerificationClaim"  value = "{{grantVerificationClaim}}"/>
<property name="grantVerificationClaimValue" value="{{grantVerificationClaimValue}}"/>
<property name="shouldAllowValidation" value="{{shouldAllowValidation}}"/>
<class name="{{claimBasedAccessGrantValidator}}"/>
