definition:
  action: OPA
  parameters:
    requestGenerator: ""
    serverURL: {{ .serverUrl }}
    accessKey: {{ .accessKey }}
    policy: {{ .policy }}
    rule: {{ .rule }}
    sendAccessToken: {{ .sendAccessToken }}
    additionalProperties: {{ .additionalProperties }}
    maxOpenConnections: {{ .maxOpenConnections }}
    maxPerRoute: {{ .maxPerRoute }}
    connectionTimeout: {{ .connectionTimeout }}
