<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~  Copyright (c) 2018, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~  WSO2 Inc. licenses this file to you under the Apache License,
  ~  Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing,
  ~  software distributed under the License is distributed on an
  ~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  KIND, either express or implied.  See the License for the
  ~  specific language governing permissions and limitations
  ~  under the License.
  -->
  
<parameter name="customSSLProfiles" xmlns:svns="http://org.wso2.securevault/configuration">
    <profile>
        <servers>{{keystore.ssl_profile.default.servers}}</servers>
         <KeyStore>
            <Location>repository/resources/security/{{keystore.tls.file_name}}</Location>
            <Type>{{keystore.tls.type}}</Type>
            <Password>{{keystore.tls.password}}</Password>
            <KeyPassword>{{keystore.tls.key_password}}</KeyPassword>
        </KeyStore>
        <TrustStore>
            <Location>repository/resources/security/{{truststore.file_name}}</Location>
            <Type>{{truststore.type}}</Type>
            <Password>{{truststore.password}}</Password>
        </TrustStore>
    </profile>
    {% for profile in keystore.ssl_profile.custom %}
    <profile>
        <servers>{{profile.servers}}</servers>
        <KeyStore>
            <Location>{{profile.keystore.location}}</Location>
            <Type>{{profile.keystore.type}}</Type>
            <Password>{{profile.keystore.password}}</Password>
            <KeyPassword>{{profile.keystore.key_password}}</KeyPassword>
        </KeyStore>
        <TrustStore>
            <Location>{{profile.truststore.location}}</Location>
            <Type>{{profile.truststore.type}}</Type>
            <Password>{{profile.truststore.password}}</Password>
        </TrustStore>
    </profile>
    {% endfor %}
</parameter>

