body {
	color:#111111;
	font-family:"Calibri","Lucida Grande","Lucida Sans","Microsoft Sans Serif","Lucida Sans Unicode","Verdana","Sans-serif","trebuchet ms" !important;
	font-size:0.75em;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25em;
	background-image: url(../images/body-bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}

div.clear {
	clear:both;
}
p { }

td { }

a:link { }

a:visited { }

a:hover { }

a:active { }

div#login-content {
	background-image:url(../images/login-bg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	height:277px;
	left:50%;
	margin-left:-481px;
	position:absolute;
	text-align:center;
	width:962px;
}
div#login-content div.main-text {
	margin-top: 113px;
	margin-left: 50px;
	float: left;
	width: 750px;
	font-size: 140%;
	line-height: 125%;
	height: 80px;
	text-align: left;
}
div.feature {
	float:left;
	margin-left:79px;
	margin-top:23px;
	padding-bottom:20px;
	padding-top:20px;
	text-align:left;
	width:221px;
}
div.feature img {
	float: left;
	margin-right: 10px;
	width: 64px;
}
div.feature h2 {
	margin-top: 0px;
	margin-bottom: 7px;
	color: #0499CC;
	font-size: 155%;
	line-height: 110%;
	font-weight: normal;
	
}
div.feature p {
	margin-top: 0px;
	padding-top: 0px;
}
div#login-content div.feature-left {
	margin-left: 70px;
}
a.register-button {
	background-image:url(../images/reg-button.gif);
	background-position:left top;
	background-repeat:no-repeat;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	font-size:220%;
	font-weight:normal;
	line-height:63px;
	margin:auto auto 5px;
	text-align:left;
	text-decoration:none;
	text-indent:25px;
	width:444px;
}
a.register-button:hover {
	background-image: url(../images/reg-button-hover.gif);
}
div.resources {
	text-align: center;
}
div.resources a {
	background-image:url("../images/link-icon.gif");
	background-position:right 4px;
	background-repeat:no-repeat;
	color:#004990;
	font-size:130%;
	line-height:20px;
	padding-right:15px;
	text-decoration:none;
}
div.resources a:hover {
	color: #000000;
}
table.ad {
	width: 100%;
	margin-top: 15px;
}
table.ad tr td {
	vertical-align: top;
	text-align: center;
}
td#ad {
	height:210px;
	width: 50%;	
}
div#sign-in {
	text-align:left;
	width: 580px;
	margin: auto;
}
div#sign-in div.sign-in-form {
	width: 580px;
}
div#sign-in h2 {
	border-bottom:1px solid #78BDE8;
	font-size:130%;
	margin-bottom:10px;
	margin-top:0;
	padding-bottom:10px;
	padding-top:0;
}
div#sign-in table tr td.top {
	padding-top: 10px;
}
div#sign-in table tr td {
	padding-bottom:5px;
	padding-right:7px;
}
div#sign-in table {
	border-bottom:1px solid #0499CC;
	margin-bottom:7px;
}
div#sign-in table tr td.title {
	font-size: 180%;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 0px;
	text-align: left;
}
#loginForm td label{
    font-size:12px;
}
div#sign-in a.help {
	font-size: 14px;
	text-decoration: none;
	color: #00447C;
}
td#ad iframe.ad-frame {
	border: 0px;
	width: 420px;
	height: 210px;
	margin: 0px;
	padding: 0px;
}
div#footer {
	margin-top: 30px;
	height: 50px;
	border-top: solid 1px #009FC2;
	padding-top: 7px;
	text-align: left;
}
div#footer a {
	text-decoration: none;
	color: #00447C;
}
div#footer div.powered {
	float: right;
	font-size: 11px;
	color: #333;
}
div#footer div.powered span {
	float: left;
	margin-right: 5px;
	line-height: 23px;
}
div#sign-in table.sign-in {
	border-bottom: 0px;
}
div#sign-in table tr td {
	padding-top: 10px;
	width: 290px;
}
div#sign-in table tbody tr td.third-party {
	border-left: dotted 1px #cccccc;
	padding: 20px;
}
div#sign-in table tbody tr td.third-party a img {
	border: 0px;
	margin-top: 10px;
}
.sign-in-box{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:solid 1px #b5dff7;
    background-color:#ebf7fd;
    padding-left:10px;
    width:800px;
    margin-left:70px;

        -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
}
.sign-in-box h3{
    color:#0499cc;
    font-size:12px;
    font-weight:bold;
    padding-bottom:10px;
}
.sign-in-box table tr td{
    text-align:left !important;
}
.user_pass_table a{
    font-size:11px;
}
.user_pass_table td{
    padding:4px;
    text-align:left !important;
}
.sign-in-box div.help_txt{
    color: #666666;
    line-height:20px;
}
.user_pass_td{
    border-right:solid 1px #ccc;
}
.google-app-td{
    padding-left:10px;
    width:300px;
}
#loginBoxGoogle{
    margin-top:15px;
}
#loginBoxGoogle div.help_txt{
    font-size:11px;
}
h2.stratos-Signin{
    color:#0499cc;
    font-size:22px;
    line-height:30px;
}
.google-app-td img{
    cursor:pointer;
}