<?xml version="1.0" encoding="UTF-8"?>
<suite name="Cucumber Test Suite" parallel="false" thread-count="2">

    <test name="CucumberTests">
        <classes>
            <class name="org.wso2.am.integration.cucumbertests.runners.customHeaderTestRunner"/>
            <class name="org.wso2.am.integration.cucumbertests.runners.testrunner"/>
            <class name="org.wso2.am.integration.cucumbertests.runners.groupedTestRunner"/>
        </classes>
    </test>
</suite>