@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('../fonts/pt_sans-narrow-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-narrow-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-narrow-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-narrow-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-narrow-web-regular-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('../fonts/pt_sans-narrow-web-bold-webfont.eot');
    src: url('../fonts/pt_sans-narrow-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-narrow-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-narrow-web-bold-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-narrow-web-bold-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body,textarea,pre,.navbar-search .search-query{
    font-family: 'pt_sans_narrowregular',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
    line-height:20px;
}
label, input, button, select, textarea{
    font-family: 'pt_sans_narrowregular',"Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:12px;
}
h1,h2,h3,h4,h5{
    font-family: 'pt_sans_narrowregular',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
    color:#41454e;
    font-size:25px;
}
h2{
    font-size:23px;
    color: #525863;
    line-height: normal;
    margin-bottom:10px;
}
h3{
    font-size:18px;
    color: #747c8c;
}
h4{
    margin-top:0;
    font-size:16px;
}
h5{
    margin-top:0;
}
.icon-chevron-right,.icon-chevron-down{
    font-size: 18px;
    color: #747c8c;
}
body{
    background:transparent url(../images/back.jpg);
}
p{
    margin-top:10px;
    margin-bottom:10px;
    text-align:justify;
}
a{
    cursor:pointer;
    color:#444;
}
a.link-to-api, a.title{
    font-weight: bold;
}
.noborder-table tr td{
    border-top:none;
    padding-left:0;
}

.brand{
    width:145px;
    height:26px;
    display:inline-block;
    margin-top:15px;
    margin-left:20px;
}
.row-fluid div.special-link-box1{
    background: #f0f0f0;
    padding:10px 20px;
    margin-left:0;
    width:50%;
}
.row-fluid div.special-link-box2{
    background: #f6f6f6;
    padding:10px 20px;
    margin-left:0;
    width:50%;
}
.logo-section{
}
.menu-back{
    background:transparent url(../images/appFac_04.jpg) repeat-x;
    height:55px;
}
.menu-content{
    border-left:solid 5px #4b4b4b;
    margin-top:7px;
    height:46px;
}
.menu-content div.navbar {
    color: #fff;
    margin-bottom: 0;
    overflow: visible;
}
.menu-content .navbar-inner {
    height:45px;
    border:0;
    background:none;
    padding-left:0;
    padding-right:0;
    -webkit-box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.menu-content .navbar .nav > li > a {
    padding:0 14px;
    text-align:center;
    cursor:pointer;
    text-shadow: 0 0 0 #FFFFFF;
    color:#444;
    height:45px;
}
.menu-content .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background:transparent;
    text-align:center;
    color:#cfcfcf;
    text-shadow:0 0 0 #FFFFFF;
}
.menu-content .navbar .divider-vertical{
    height:45px;
}
.menu-content .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #1195d9;
    color: #444;
}
.inside-h2-refresh{
    margin-top:8px;
}
.git-url{
    color:#444;
}

/*TOP navigation icons*/
.icon-home{
    background: transparent url(../images/icon-home.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
}
.icon-support{
    background: transparent url(../images/icon-support.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
}.icon-contact{
    background: transparent url(../images/icon-contact.png) no-repeat 0 0;
    width: 16px;
    height: 13px;
}

.breadcrumb-section{
    padding:0px 0 10px 42px;
}
.breadcrumb-section h1{
    display: inline;
}
.breadcrumb-section a h1{
    color: #0088CC;
}
.breadcrumb-section a h1:hover{
    text-decoration: none;
}
.breadcrumb-section-small{
    padding-left:40px;
}
.content-section{
    background:transparent;
}

.content-data{
    padding:0;
}
.content-data-small{
    padding-left:20px;
    padding-right:10px;
    padding-bottom:10px;
}

.left-menu [class*="span"]{
    text-align:center;
    margin-bottom:10px;
}
.left-menu a{
    color:#6E6E6E;
    cursor:pointer;
    display:block;
    width:100%;
}
.vertical-menu-separator{
    margin-top:20px;
    background:transparent url(../images/line_27.png) no-repeat center top;
    height:40px;
}

.tab-table td.vertical-menu-separator-wrapper {
    width:1%;
}
.menuHelp-title{
    color: #666666;
    font-size:13px;
    font-weight:bold;
}
.left-menu div.span1{
    width:10%;
}
.menuHelp{
    height:100px;
    width:200px;
    position:absolute;
    background: rgb(234,234,234); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-8 */
    padding:10px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #1ccfea;

    -webkit-box-shadow: 1px 10px 15px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    1px 10px 15px rgba(50, 50, 50, 0.7);
    box-shadow:         1px 10px 15px rgba(50, 50, 50, 0.7);
    text-align:left;

}
#appDescriptionEdit textarea{
    width:99%;
    line-height:22px;
    min-height:130px;
    resize:vertical;
}
.footer-main{
    padding:10px 0;
    width:100%;
    z-index:-1;
    min-height: 68px; /* .push must be the same height as .footer */
    color:#9f9f9f;
    border-top:solid 1px #ccc ;
}
.footer-main hr{
    border: dotted 1px #777;
}
div.footer-main h5, div.footer-main ul{
    margin-left:10px;
}
.hero-unit{
    border: 1px solid #EFEFEF;
    padding: 20px;
    background: transparent;
}
.hero-unit hr{
    margin:10px 0;
}
.hero-unit h2{
    padding:0;
    margin:0;
}
.hero-unit p{
    font-size:12px;
}
.hero-unit-sidekik{
    background: #ffffeb; /* Old browsers */
    padding:10px;
    border-top:solid 3px #fdb629;
}
.hero-unit-sidekik table td{
    border-bottom: solid 1px #b9b9b9;
}
.title-section {


}
.content-section, .content-section-small, .title-section{

}
.title-section h1{
    margin:0 0 0 0;
}
.title-section h3{
    margin:0 0 0 20px;
    font-size:18px;
}
.title-section h2{
    margin:0 0 20px 0;
    font-size:34px;
    padding:10px;
    border-style: solid;
    border-width: 1px 1px 1px 11px;
    border-color:#1ccfea;
}
.btn-primary,.btn {
    font-size:12px;
    text-align: left;
}
.btn:hover, .btn:focus{
    background-color: #395751;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    background-color: #395751 !important;
}
.btn-primary {
  color: #fff;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  background-color: #395751;
  *background-color: #395751;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3cbca4), to(#395751));
  background-image: -webkit-linear-gradient(top, #3cbca4, #395751);
  background-image: -o-linear-gradient(top, #3cbca4, #395751);
  background-image: linear-gradient(to bottom, #3cbca4, #395751);
  background-image: -moz-linear-gradient(top, #3cbca4, #395751);
  background-repeat: repeat-x;
  border-color: #3cbca4 #3cbca4 #3b363d;
  border-color: rgba(57, 87, 81, 0.1) rgba(57, 87, 81, 0.1) rgba(60,188,164, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3cbca4', endColorstr='#395751', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #efefef;
  background-color: #395751;
  *background-color: #395751;
}
.btn-primary:active,
.btn-primary.active {
    *background-color: #395751   \9;
}
.tab-table{
    width:100%;
    margin-bottom:10px;
    margin-top:15px;
}
.tab-table td{
    width:11.2%;
    text-align:center;
}
.tab-table td a{
    color:#A7A7A7;
    text-shadow: 1px 1px 0px #fff;

}
.tab-table td a:hover{
    color: #333333;
    text-decoration:none;
}
.tab-table td a.active{
    color: #333333;
    display: block;
    margin-top: 5px;
}
.tab-table td a span{
    white-space:nowrap;
}
.tab-content{
}
.shadow-up{
}

.help-block{
    color:#888;
    font-size:14px;
}
.hero-unit p.help-block{
    color:#fff;
    font-size:14px;
}
.select-role-row .radio input[type="radio"], .select-role-row button{
    float:right;
    margin-top:10px;
}
.select-role-row h4{
    text-align:right;
}
.color-borders{
    border-right:solid 5px #1ccfea;
}
.display-ds span.lable{
    font-size:14px;
}
.display-ds{
    margin-bottom:20px;
}
.display-ds div.container-fluid{
    padding-left:0;
}
.display-ds hr{
    margin:5px 0;
}
div.display-ds div.edit-mode{
    border:solid 1px #eee;
    padding:20px;
    border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.sign-up-sub-heading{
     color: #888888;
    font-size: 18px;
    margin-top: -10px;
    padding: 0;
}
.dashboard-top-strip-wrapper{
    background:#181818;
    padding:0;
    width:100%;
    z-index:-1;
    /*margin-top:-60px; Sticky footer*/
}
.dashboard-top-strip-wrapper h1{
    color:#fff;
}
.dashboard-top-strip-wrapper p{
    color:#efefef;
}
.dashboard-top-strip-wrapper h2{
    color:#efefef;
    font-size:19px;
    padding-left:20px;
}
.dotted-wrapper{
    border:dotted 1px #efefef;
    padding-bottom:10px;
}
.dashboard-second-strip-wrapper div.span6{
    background:#dcdcdc;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;
    height:350px;
}
.dashboard-second-strip-wrapper h2{
    color: #666666;
    margin:10px 0;
    font-size:19px;
}
.chart-all-ran{
    background:#888888;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:30px 10px;
    color:#fff;
    font-size:37px;
    text-align:right;
}

.chart-success-box{
    background:#f0f0f0;
    color:#009c22;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:10px;
    font-size:79px;
    text-align:center;

    width:90px;

    position:absolute;
    margin-left:50px;
    margin-top:-80px;
}
.success-head{
    font-size:19px;
    height:50px;
}
.success-content{
    height:60px;
}

.chart-fail-box{
    background:#f0f0f0;
    color:#ff4000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:10px;
    font-size:79px;
    text-align:center;

    width:90px;

    position:absolute;
    margin-left:180px;
    margin-top:-80px;
}
.fail-head{
    font-size:19px;
    height:50px;
}
.fail-content{
    height:60px;
}
.build-state-wrapper{
    margin-top: 120px;
    margin: 4px 0px 8px 0px;
    width: 450px;
    height: 250px;
}
.build-listing-spacer{
    margin-bottom:10px;
}
.build-listing-spacer label{
    padding-top:0;
}
.header-top-wrapper{
    margin-left:0;
    background:#444;
    height:150px;
}
.header-top-container{
    background:#e4e4e4;
}
.page-main-heading{
    margin:0 0 0 20px;
}
.page-main-heading a {
    color:#444;
}
.put-on-left{
    line-height:81px;
}
.row-fluid div.life-cycle-state{
    color:#fff;
    border-right:dotted 1px #fff;
    height:152px;
}
.row-fluid div.life-cycle-state h3{
    text-align:center;
    font-size:12px;
}
.home-special-shift{
    margin-left:0;
}
.appDescriptionEditBtn-wrapper{
    padding-left:10px;
    padding-bottom:10px;
}
.app-image-wrapper{
    padding:10px;
}
.appImageEditBtn-wrapper{
    position:absolute;
    margin-left:140px;
    margin-top:10px;
}
#description{
    margin-bottom:5px;
    cursor: pointer;
}
.requiredAstrix{
	color:red;
}
.has-link-inside a{
    color:#41454E;
}
.has-link-inside a:hover{
    text-decoration:none;
    color:#005580;
}
.big-link{
    font-size:16px;
}
.app-list-footer{
    padding:2px;text-align:center;background-color:#dddddd;
}
.title-side-box{
    padding:10px 15px 5px 5px;
    text-align:right;
}
.help-box{
    color:#aaa;
}
.task-section{
    padding-right:20px;
}
.copyright{
    padding-top:20px;
    color:#fff;
    font-size:11px;
}
.build-state-head div{
    vertical-align:top;
    white-space:nowrap;
}
.need-space-bottom{
    margin-bottom:10px;
}
.help-block{
    font-size:11px;
}
.not-title{
    background:transparent url(../images/not-title-back.png) repeat left top;
    width:145px;
    padding:20px 10px;
    color:#fff;
    text-align:center;
}
.not-title a{
    color:#fff;
}
.not-body{
    background:transparent url(../images/not-body-back.png) repeat left top;
    width:125px;
    padding:20px;
    min-height:200px;
}
.not-position{
    float: right;
    left: 50%;
    position: absolute;
}

div.notifications-in .not-position{
    margin-left: 300px;
    margin-top: 75px;
}
div.notifications-out .not-position{
    margin-left: 473px;
    margin-top: 75px;
}
.notifications-in{
    display:none;
}
.notification-toggle-btn{
    display:none;
}
/*@media only screen and (min-width:1200px){
    .notifications-out{
        display:block;
    }
    .notifications-in{
        display:none;
    }
    a.notifications-show-btn{
        display:none;
    }
}*/


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}
.app-home-box{
    background:#dcdcdc;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    margin-top:0;
    height:170px;
}

.app-home-box h2 {
    color: #666666;
    font-size: 19px;
    margin: 10px 0;
}
.app-home-box div.build-state-wrapper{
    margin-top:54px;
}

.app-home-box h2{
    margin:0;
}

.issueTracker-box{
    background:#f0f0f0;
    color:#0099cc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:10px;
    font-size:20px;
    text-align:center;

    width:135px;

    position:absolute;
    margin-top:-60px;
        border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.issueTracker-head{
    font-size:19px;
    height:50px;
}
.issueTracker-content{
    height:60px;
    font-size:11px;
    color:#444;
}
.issueTracker-box1{
    margin-left:0;
}
.issueTracker-box2{
    margin-left:180px;
}
.issueTracker-box3{
    margin-left:360px;
}
.total-sep{
    border-top:solid 1px #ccc;
    color: #0099cc;
    font-size:16px;
}
.user-listing{
    padding-top:8px;
}
div.theBug div.issueTracker-head{
    color:#f00;
}
div.theBug div.total-sep{
    color:#f00;
}
.app-type-display{
    background:url("../images/not-body-back.png") repeat scroll left top transparent;
    padding:5px;
}
.more-info-box{
    background:url("../images/not-body-back.png") repeat scroll left top transparent;
    padding:5px;
    margin-bottom:10px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.more-info-box th{
    background:#ddd;
    color:#444;
}
.imageCell{
    padding-right:10px;
}
.control-group{
	position: relative;
}
.searchPane{
	/* position: absolute; */
	right: 5px;
}
.role-selection{
	text-align: left;
}


/* Specially used for App Home page*/
.property{
        overflow: hidden;
    }
    .property-key{
        display: block;
        min-width: 119px;
        max-width: 121px;
        width:120px;
        float: left;
        color: #595959;
    }
    .property-delimiter{
        display: block;
        float: left;
        margin-right: 16px;
        color: #595959;
    }
    .property-value{
        display: block;
        min-width: 579px !important;
        max-width: 581px;
        width:580px;
        min-height:1.2em;
        float: left;
    }
    .toggle-panel{
        border:1px solid #DDDDDD;
        padding: 4px;
        margin-bottom: 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .toggle-panel-header{
        padding: 8px;
        font-weight: bold;
        cursor: pointer;
    }
    .toggle-panel-header span{
        display: block;
        height: 16px;
        padding-left:20px;
        width:300px;
    }
    .toggle-panel-header span b{
        background-color: #ffffff;
        padding-left: 4px;
        width:275px;
        display: block;
    }
    .toggle-panel-body{
    	border-top:1px solid #DDDDDD;
        min-height: 40px;
        max-height:300px;
        overflow-x:auto;
        padding: 8px;
    }
    div.remove-scroll{
    	overflow-x:visible;
    	max-height:none;
    }
    .toggle-panel-body table{
        width:98%;
        text-align: left;
    }
    .toggle-panel-body table td{
        border-top:1px solid #DDDDDD;
    }
    .boundary-marker{
        border:1px solid #DDDDDD;
        padding: 8px;
        margin-bottom: 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        min-height: 20px;
    }
    .spacer{
        height: 30px;
    }
    .issuetracker{
        width: 99%;
        margin-top: 16px;
        border-spacing: 4px;
        text-align: left;
        border:1px solid #DDDDDD;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .issuetracker th{
        padding: 8px 4px 6px 4px;
        border-bottom: 1px solid #DDDDDD;
        border-left: 1px solid #DDDDDD;
    }
    .issuetracker td{
        border-left: 1px solid #DDDDDD;
    }
    .issuetracker td span{
        font-weight: bold;
    }
    .issuetracker tbody td{
        padding: 6px 4px;
    }
    .issuetracker tfoot td{
        padding: 6px 4px;
        border-top: 1px solid #DDDDDD;
        font-weight: bold;
    }
    fieldset{
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
        overflow: hidden;
        padding:0px 4px 0px 4px;
    }
    fieldset legend{
        background-color: transparent !important;
        margin: 0px !important;
        display:inline !important;
        border:0px !important;
        width:auto !important;
        padding:0px 8px !important;
    }
    div.event-streamer-panel{
        position: fixed;
        min-height: 16px;
        width:200px;
        bottom:0px;
        overflow: hidden;
        padding:2px 2px 0px 2px;
        background-color: #000000;
        opacity:0.8;
        filter:alpha(opacity=80); /* For IE8 and earlier */
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-box-shadow:  1px 1px 5px 2px rgba(0, 0, 0, .5);
        box-shadow:  1px 1px 5px 2px rgba(0, 0, 0, .5);
    }
    * html div.event-streamer-panel{
        position: absolute;
    }
    div#event-streamer-panel-header{
        position: relative;
        color:#ffffff;
        font-weight: bold;
        height: 16px;
        padding:8px;
        background-color: #000000;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid #666666;
    }
    ul#event-streamer{
        position: relative;
        height: 150px;
        background-color: #000000;
        display:none;
        margin: 4px 8px 8px 20px;
        opacity:0.9;
        filter:alpha(opacity=90); /* For IE8 and earlier */
        list-style-type:circle;
        overflow-x: auto;
    }
    ul#event-streamer li{
        color:#1CCFEA;
        font-weight: bold;
    }
    .animate{
        color:#FF4747 !important;
        text-decoration:blink;
    }
.userListContainer {
       padding: 10px 0 10px 0;
       max-height: 175px;
       overflow: auto;
       margin-left: 0px;
       overflow: auto;
       border: 1px solid #CCCCCC;
	-moz-border-radius:5px;
       -webkit-border-radius:5px;


}

.user-listing-section label.control-label{
       width:100px;
}
.user-listing-section div.controls{
       margin-left:118px;
}
.topic-aligned{
       margin-left: 60px;
}
.no-margin{
       margin-left:0px;
}
#auto-complete-div{


}
.textarea{
       resize:vertical;
}
.space-killer{
    padding:0;
}
.table{
    margin-bottom:0;
}
.section-block{
    margin-bottom:20px;
}
.first-cell{
    width:18%;
}
.message-block{
    background: none repeat scroll 0 0 #F9EDBE;
    border: solid 1px #f0c36d;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #222222;
    font-weight: bold;
    left: 50%;
    margin: 50px auto auto -100px;
    min-width: 200px;
    padding: 0 10px;
    position: fixed;
    text-align: center;
    top: 8px;
}
.first-h2{
    margin-top:40px !important;
    line-height: normal;
}
.icon-pointer{
    background: transparent url(../images/pointer.png) no-repeat 0 0;
    width: 16px;
    height: 39px;
    margin-left: -34px;
    margin-top: -42px;
    position: absolute;
}
 table.current-status-table td, table.current-status-table th{
    vertical-align: middle;
 }
 .search-users-selected{
     margin-top: 70px;
     background: none repeat scroll 0px 0px #efefef;
     margin-left: 0px;
     padding-left: 20px;
     padding-bottom: 10px;
     padding-right: 20px;
 }
 .search-users-selected-pointer{
     background: none repeat scroll 0px 0px #efefef;
 }
 .special-button-sizer{
     width:165px;
 }
label.error {
	color:#cc0000;
	font-size:11px;
}
input.error {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

#updatePane{

    position: absolute;
    border: solid 1px #ccc;
    background: #efefef;
    padding:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.navbar .nav > li{
    text-align: center;
}
.menu-content .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: transparent;
}
.left-side-col{
    padding-left:15px;
}
.left-side-col h4{
    padding:18px 0 20px 10px;
    margin-bottom: 26px;
    border-style: solid;
    border-width: 1px 1px 1px 11px;
    border-color:#aaa;
    color:#444;
    font-size: 16px;
    font-weight: bold;
}
.left-side-col div.container-fluid{
    padding-left: 0;
}
#tag-cloud h4{
    padding:18px 0 20px 10px;
       margin-bottom: 14px;
       border-style: solid;
       border-width: 1px 1px 1px 11px;
       border-color:#aaa;
}
.tag-content{
    padding-left:10px;
}
.thumbnail{
    border:none;
    box-shadow: 0 0 0 #fff;
    padding-left: 0;
    text-align: left;
}
.thumbnail img{
    margin-left: 0;
    padding:0;
}
.link-to-provider{
    color:#888;
}
.big-search-box{
    padding-top:10px;
    padding-left: 14px;
    margin-bottom: 10px;
    width:95%;
}
.big-search-box form{
    margin-bottom: 0;
}
div.big-search-box input.search-input{
    width:100%;
}
#searchAPIHelp{
    padding-top:20px;
}
#searchAPIHelp h4{
font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 20px;
    color:#888888;
}
#searchAPIHelp li{
    padding:0;
    color:#888888;
}#searchAPIHelp ol{
    margin: 0 0 10px 25px;
    padding: 0;
}
.tab-pane{
    padding:20px;
    border-left:solid 1px #ddd;
    border-right:solid 1px #ddd;
    border-bottom:solid 1px #ddd;
}
.tabs-section ul.nav-tabs li.active a{
    color:#444;
}
.tabs-section ul.nav-tabs a{
    font-weight:bold;
    font-size:16px;
    color:#888;
}
ul.all-tabs{
    margin-bottom:0;
}
span.counter{
    display:block;
}
div.api-info div.tabs-section{
    margin-left: 5px;
}
.list-item-content{
    margin-left: 0;
    margin-bottom: 10px;
}
.cloud-link{
    margin-left: 5px;
}
.modal-header{
    background: #444;
    color:#fff;
}
.modal-header h3{
    color:#fff;
    font-size:16px;
    font-weight: bold;
}
#mainLoginForm{
    margin:0;
}
.dropdown-menu{
    color:#444;
}
.main-menu{
    margin-top:20px;
}
.main-menu-navbar{
    padding-left: 35px;
}
ul.help-links li a{
    color:#777;
}
div.tryit-content{
    margin-top: 104px;
    padding-top: 10px;
}
div.tryit-content div.content-data{
    background-color: transparent;
}