<div>{{#orders}}<div class="order-entry"> 
<div class="order-number">{{ORDER_ID}}</div>
<div class="order-content">
{{DRINK}} <span class="help-block">{{ADDITION}}<a href="#" onclick="CoffeeShop.showAddition({{ORDER_ID}});" > Add addition</a></span>
</div> <div class="order-actions" id="{{ORDER_ID}}"> 
<a class="btn btn-success completed" style="display:none;">Completed</a>
<ul class="order-status">
<li class="dropdown">
<a class="dropdown-toggle btn btn-warning" data-toggle="dropdown" rel="tooltip" title="Order Status" href="#menu1"> {{STATUS}} <b class="caret"></b> </a>
<ul class="dropdown-menu">
<li>
<a href="#" class="mark-paid" onclick="CoffeeShop.markComplete({{ORDER_ID}})">Mark as Complete</a>
</li>
<li>
<a href="#" onclick="CoffeeShop.markDeletOrder({{ORDER_ID}})">Delete Order</a>
</li>
</ul>
</li>
</ul>
<a class="btn btn-success paid" style="display:none;">Paid</a>
<ul class="payment-action">
{{^PAY}}<li class="dropdown">
<a class="dropdown-toggle btn btn-danger" data-toggle="dropdown" href="#menu1"> Not Paid <b class="caret"></b> </a>
<ul class="dropdown-menu">
<li>
<a href="#" class="mark-paid" onclick="CoffeeShop.markPaid({{ORDER_ID}})">Mark as Paid</a>
</li>{{/PAY}}
</ul> 
{{#PAY}} <button class="btn btn-success"  href="#"> paid</button>{{/PAY}}
</li>
</ul>
</div>
<div class="amount">
{{COST}}
</div>
</div>{{/orders}}</div></div>