#   Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
################################################################################
openapi: 3.0.1
info:
  title: WSO2 API Manager - Admin
  description: |
    This document specifies a **RESTful API** for WSO2 **API Manager** - **Admin Portal**.
    Please see [full OpenAPI Specification](https://raw.githubusercontent.com/wso2/carbon-apimgt/master/components/apimgt/org.wso2.carbon.apimgt.rest.api.admin.v1/src/main/resources/admin-api.yaml) of the API which is written using [OAS 3.0](http://swagger.io/) specification.

    # Authentication
    The Admin REST API is protected using OAuth2 and access control is achieved through scopes. Before you start invoking
    the the API you need to obtain an access token with the required scopes. This guide will walk you through the steps
    that you will need to follow to obtain an access token.
    First you need to obtain the consumer key/secret key pair by calling the dynamic client registration (DCR) endpoint. You can add your preferred grant types
    in the payload. A sample payload is shown below.
    ```
      {
      "callbackUrl":"www.example.com",
      "clientName":"rest_api_admin",
      "owner":"admin",
      "grantType":"client_credentials password refresh_token",
      "saasApp":true
      }
    ```
    Create a file (payload.json) with the above sample payload, and use the cURL shown bellow to invoke the DCR endpoint. Authorization header of this should contain the
    base64 encoded admin username and password.
    **Format of the request**
    ```
      curl -X POST -H "Authorization: Basic Base64(admin_username:admin_password)" -H "Content-Type: application/json"
      \ -d @payload.json https://<host>:<servlet_port>/client-registration/v0.17/register
    ```
    **Sample request**
    ```
      curl -X POST -H "Authorization: Basic YWRtaW46YWRtaW4=" -H "Content-Type: application/json"
      \ -d @payload.json https://localhost:9443/client-registration/v0.17/register
    ```
    Following is a sample response after invoking the above curl.
    ```
    {
    "clientId": "fOCi4vNJ59PpHucC2CAYfYuADdMa",
    "clientName": "rest_api_admin",
    "callBackURL": "www.example.com",
    "clientSecret": "a4FwHlq0iCIKVs2MPIIDnepZnYMa",
    "isSaasApplication": true,
    "appOwner": "admin",
    "jsonString": "{\"grant_types\":\"client_credentials password refresh_token\",\"redirect_uris\":\"www.example.com\",\"client_name\":\"rest_api_admin\"}",
    "jsonAppAttribute": "{}",
    "tokenType": null
    }
    ```
    Note that in a distributed deployment or IS as KM separated environment to invoke RESTful APIs (product APIs), users must generate tokens through API-M Control Plane's token endpoint.
    The tokens generated using third party key managers, are to manage end-user authentication when accessing APIs.
    
    Next you must use the above client id and secret to obtain the access token.
    We will be using the password grant type for this, you can use any grant type you desire.
    You also need to add the proper **scope** when getting the access token. All possible scopes for Admin REST API can be viewed in **OAuth2 Security** section
    of this document and scope for each resource is given in **authorizations** section of resource documentation.
    Following is the format of the request if you are using the password grant type.
    ```
    curl -k -d "grant_type=password&username=<admin_username>&password=<admin_passowrd>&scope=<scopes seperated by space>"
    \ -H "Authorization: Basic base64(cliet_id:client_secret)"
    \ https://<host>:<server_port>/oauth2/token
    ```
    **Sample request**
    ```
    curl https://localhost:9443/oauth2/token -k \
    -H "Authorization: Basic Zk9DaTR2Tko1OVBwSHVjQzJDQVlmWXVBRGRNYTphNEZ3SGxxMGlDSUtWczJNUElJRG5lcFpuWU1h" \
    -d "grant_type=password&username=admin&password=admin&scope=apim:admin apim:tier_view"
    ```
    Shown below is a sample response to the above request.
    ```
    {
    "access_token": "e79bda48-3406-3178-acce-f6e4dbdcbb12",
    "refresh_token": "a757795d-e69f-38b8-bd85-9aded677a97c",
    "scope": "apim:admin apim:tier_view",
    "token_type": "Bearer",
    "expires_in": 3600
    }
    ```
    Now you have a valid access token, which you can use to invoke an API.
    Navigate through the API descriptions to find the required API, obtain an access token as described above and invoke the API with the authentication header.
    If you use a different authentication mechanism, this process may change.

    # Try out in Postman
    If you want to try-out the embedded postman collection with "Run in Postman" option, please follow the guidelines listed below.
    * All of the OAuth2 secured endpoints have been configured with an Authorization Bearer header with a parameterized access token. Before invoking any REST API resource make sure you run the `Register DCR Application` and `Generate Access Token` requests to fetch an access token with all required scopes.
    * Make sure you have an API Manager instance up and running.
    * Update the `basepath` parameter to match the hostname and port of the APIM instance.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/32294946-71bea2bc-f808-4208-a4f6-861ede6f0434)
  contact:
    name: WSO2
    url: https://wso2.com/api-manager/
    email: architecture@wso2.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v4
servers:
  - url: https://apis.wso2.com/api/am/admin/v4
paths:
  ######################################################
  # The "Content Search Results" Throttling Policies
  ######################################################
  /throttling/policies/search:
    get:
      tags:
        - Unified Search
      summary: |
        Retrieve/Search Throttling Policies
      description: |
        This operation provides you a list of available Throttling Policies qualifying the given keyword match.
      parameters:
        - name: query
          in: query
          description: |
            **Search**.
            You can search by providing a keyword. Allowed to search by type and name only.
          schema:
            type: string
      responses:
        200:
          description: |
            OK.
            List of qualifying Throttling Policies is returned.
          headers:
            Content-Type:
              description: The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlePolicyDetailsList'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
            - apim:policies_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/search?query=type:sub"'
      operationId: throttlingPolicySearch

  ######################################################
  # The "Application Throttling Policy Collection" resource API
  ######################################################
  /throttling/policies/application:
    get:
      tags:
        - Application Policy (Collection)
      summary: Get all Application Throttling Policies
      description: |
        Retrieves all existing application throttling policies.
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        200:
          description: |
            OK.
            Policies returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationThrottlePolicyList'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/application"'

    post:
      tags:
        - Application Policy (Collection)
      summary: Add an Application Throttling Policy
      description: |
        This operation can be used to add a new application level throttling policy.
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Application level policy object that should to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationThrottlePolicy'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          headers:
            Location:
              description: |
                Location of the newly created Policy object.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationThrottlePolicy'
              example:
                policyId: e0fd4a15-969e-4056-94c8-8a7b56f8103f
                policyName: 20PerMin
                displayName: 20PerMin
                description: Allows 20 request per minute
                isDeployed: true
                type: ApplicationThrottlePolicy
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 20
        400:
          $ref: '#/components/responses/BadRequest'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/application"'

  ######################################################
  # The "Individual Application Throttling Policy" resource API
  ######################################################
  /throttling/policies/application/{policyId}:
    get:
      tags:
        - Application Policy (Individual)
      summary: Get an Application Throttling Policy
      description: |
        Retrieves an application throttling policy.
      parameters:
        - $ref: '#/components/parameters/policyId'
      responses:
        200:
          description: |
            OK.
            Policy returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationThrottlePolicy'
              example:
                policyId: e0fd4a15-969e-4056-94c8-8a7b56f8103f
                policyName: 20PerMin
                displayName: 20PerMin
                description: Allows 20 request per minute
                isDeployed: true
                type: ApplicationThrottlePolicy
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 20
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/application/4e098fff-7f94-459a-981f-d257332f69d0"'

    put:
      tags:
        - Application Policy (Individual)
      summary: Update an Application Throttling policy
      description: |
        Updates an existing application level throttling policy. Upon a succesfull update, you will receive the updated application policy as the response.
      parameters:
        - $ref: '#/components/parameters/policyId'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Policy object that needs to be modified
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationThrottlePolicy'
        required: true
      responses:
        200:
          description: |
            OK.
            Policy updated.
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationThrottlePolicy'
              example:
                policyId: e0fd4a15-969e-4056-94c8-8a7b56f8103f
                policyName: 20PerMin
                displayName: 20PerMin
                description: Allows 20 request per minute
                isDeployed: true
                type: ApplicationThrottlePolicy
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 20
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/application/4e098fff-7f94-459a-981f-d257332f69d0"'

    delete:
      tags:
        - Application Policy (Individual)
      summary: Delete an Application Throttling policy
      description: |
        Deletes an application level throttling policy.
      parameters:
        - $ref: '#/components/parameters/policyId'
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
            - apim:policies_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/application/4e098fff-7f94-459a-981f-d257332f69d0"'


  ######################################################
  # The "Subscription Throttling Policy Collection" resource API
  ######################################################
  /throttling/policies/subscription:
    get:
      tags:
        - Subscription Policy (Collection)
      summary: Get all Subscription Throttling Policies
      description: |
        This operation can be used to retrieve all Subscription level throttling policies.
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        200:
          description: |
            OK.
            Policies returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionThrottlePolicyList'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/subscription"'

    post:
      tags:
        - Subscription Policy (Collection)
      summary: Add a Subscription Throttling Policy
      description: |
        This operation can be used to add a Subscription level throttling policy specifying the details of the policy in the payload.
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Subscripion level policy object that should to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionThrottlePolicy'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          headers:
            Location:
              description: |
                Location of the newly created Policy object.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionThrottlePolicy'
              example:
                policyId: 78c3ebff-176d-40d8-9377-fb3276528291
                policyName: Gold
                displayName: Gold
                description: Allows 5000 requests per minute
                isDeployed: true
                graphQLMaxComplexity: 0
                graphQLMaxDepth: 0
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 5000
                rateLimitCount: 0
                customAttributes: []
                stopOnQuotaReach: true
                billingPlan: FREE
        400:
          $ref: '#/components/responses/BadRequest'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/subscription"'

  ######################################################
  # The "Individual Subscription Throttling Policy" resource API
  ######################################################
  /throttling/policies/subscription/{policyId}:
    get:
      tags:
        - Subscription Policy (Individual)
      summary: Get a Subscription Policy
      description: |
        This operation can be used to retrieves subscription level throttling policy by specifying the Id of the policy as a path paramter
      parameters:
        - $ref: '#/components/parameters/policyId'
      responses:
        200:
          description: |
            OK.
            Policy returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionThrottlePolicy'
              example:
                policyId: 78c3ebff-176d-40d8-9377-fb3276528291
                policyName: Gold
                displayName: Gold
                description: Allows 5000 requests per minute
                isDeployed: true
                graphQLMaxComplexity: 0
                graphQLMaxDepth: 0
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 5000
                rateLimitCount: 0
                customAttributes: []
                stopOnQuotaReach: true
                billingPlan: FREE
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/subscription/c948c723-71dd-4d50-8c77-0a0e99c8cbb1"'

    put:
      tags:
        - Subscription Policy (Individual)
      summary: Update a Subscription Policy
      description: |
        Updates an existing subscription level throttling policy.
      parameters:
        - $ref: '#/components/parameters/policyId'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Policy object that needs to be modified
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionThrottlePolicy'
        required: true
      responses:
        200:
          description: |
            OK.
            Policy updated.
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionThrottlePolicy'
              example:
                policyId: 78c3ebff-176d-40d8-9377-fb3276528291
                policyName: Gold
                displayName: Gold
                description: Allows 5000 requests per minute
                isDeployed: true
                graphQLMaxComplexity: 0
                graphQLMaxDepth: 0
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 5000
                rateLimitCount: 0
                customAttributes: []
                stopOnQuotaReach: true
                billingPlan: FREE
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/subscription/c948c723-71dd-4d50-8c77-0a0e99c8cbb1"'

    delete:
      tags:
        - Subscription Policy (Individual)
      summary: Delete a Subscription Policy
      description: |
        This operation can be used to delete a subscription level throttling policy by specifying the Id of the policy as a path paramter.
      parameters:
        - $ref: '#/components/parameters/policyId'
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
            - apim:policies_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/subscription/c948c723-71dd-4d50-8c77-0a0e99c8cbb1"'

  ######################################################
  # The "Custom Rules Collection" resource API
  ######################################################
  /throttling/policies/custom:
    get:
      tags:
        - Custom Rules (Collection)
      summary: Get all Custom Rules
      description: |
        Retrieves all custom rules.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        200:
          description: |
            OK.
            Policies returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRuleList'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/custom"'

    post:
      tags:
        - Custom Rules (Collection)
      summary: Add a Custom Rule
      description: |
        Adds a new custom rule.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Custom Rule object that should to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomRule'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          headers:
            Location:
              description: |
                Location of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRule'
              example:
                policyId: 7c7ed7c4-5a7c-4e08-850a-a95bbfcc2fb6
                policyName: custom
                description: Allow 10 requests per minute for admin user
                isDeployed: true
                siddhiQuery: "FROM RequestStream\nSELECT userId, ( userId == 'admin@carbon.super'\
                  \ ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\n\
                  INSERT INTO EligibilityStream; \n\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
                  \ min) \nSELECT throttleKey, (count(userId) >= 10) as isThrottled,\
                  \ expiryTimeStamp group by throttleKey \nINSERT ALL EVENTS into\
                  \ ResultStream;"
                keyTemplate: $userId
        400:
          $ref: '#/components/responses/BadRequest'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/custom"'

  ######################################################
  # The "Individual Custom Rule" resource API
  ######################################################
  /throttling/policies/custom/{ruleId}:
    get:
      tags:
        - Custom Rules (Individual)
      summary: Get a Custom Rule
      description: |
        Retrieves a custom rule. We need to provide the policy Id as a path parameter.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/components/parameters/ruleId'
      responses:
        200:
          description: |
            OK.
            Policy returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRule'
              example:
                policyId: 7c7ed7c4-5a7c-4e08-850a-a95bbfcc2fb6
                policyName: custom
                description: Allow 10 requests per minute for admin user
                isDeployed: true
                siddhiQuery: "FROM RequestStream\nSELECT userId, ( userId == 'admin@carbon.super'\
                  \ ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\n\
                  INSERT INTO EligibilityStream; \n\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
                  \ min) \nSELECT throttleKey, (count(userId) >= 10) as isThrottled,\
                  \ expiryTimeStamp group by throttleKey \nINSERT ALL EVENTS into\
                  \ ResultStream;"
                keyTemplate: $userId
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"'

    put:
      tags:
        - Custom Rules (Individual)
      summary: Update a Custom Rule
      description: |
        Updates an existing custom rule.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/components/parameters/ruleId'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Policy object that needs to be modified
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomRule'
        required: true
      responses:
        200:
          description: |
            OK.
            Policy updated.
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRule'
              example:
                policyId: 7c7ed7c4-5a7c-4e08-850a-a95bbfcc2fb6
                policyName: custom
                description: Allow 10 requests per minute for admin user
                isDeployed: true
                siddhiQuery: "FROM RequestStream\nSELECT userId, ( userId == 'admin@carbon.super'\
                  \ ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\n\
                  INSERT INTO EligibilityStream; \n\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1\
                  \ min) \nSELECT throttleKey, (count(userId) >= 10) as isThrottled,\
                  \ expiryTimeStamp group by throttleKey \nINSERT ALL EVENTS into\
                  \ ResultStream;"
                keyTemplate: $userId
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"'

    delete:
      tags:
        - Custom Rules (Individual)
      summary: Delete a Custom Rule
      description: |
        Delete a custom rule. We need to provide the Id of the policy as a path parameter.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/components/parameters/ruleId'
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
            - apim:policies_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"'

  ######################################################
  # The "Advanced Throttling Policy Collection" resource API
  ######################################################
  /throttling/policies/advanced:
    get:
      tags:
        - Advanced Policy (Collection)
      summary: Get all Advanced Throttling Policies
      description: |
        Retrieves all existing advanced throttling policies.
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        200:
          description: |
            OK.
            Policies returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThrottlePolicyList'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/advanced"'

    post:
      tags:
        - Advanced Policy (Collection)
      summary: Add an Advanced Throttling Policy
      description: |
        Add a new advanced throttling policy.
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Advanced level policy object that should to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedThrottlePolicy'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          headers:
            Location:
              description: |
                Location of the newly created Advanced Throttling Policy.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThrottlePolicy'
              example:
                policyId: 4cf46441-a538-4f79-a499-ab81200c9bca
                policyName: 10KPerMin
                displayName: 10KPerMin
                description: Allows 10000 requests per minute
                isDeployed: true
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 10000
                conditionalGroups: []
        400:
          $ref: '#/components/responses/BadRequest'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/advanced"'

  ######################################################
  # The "Individual Advanced Throttling Policy" resource API
  ######################################################
  /throttling/policies/advanced/{policyId}:
    get:
      tags:
        - Advanced Policy (Individual)
      summary: Get an Advanced Throttling Policy
      description: |
        Retrieves an advanced throttling policy.
      parameters:
        - $ref: '#/components/parameters/policyId'
      responses:
        200:
          description: |
            OK.
            Policy returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThrottlePolicy'
              example:
                policyId: 4cf46441-a538-4f79-a499-ab81200c9bca
                policyName: 10KPerMin
                displayName: 10KPerMin
                description: Allows 10000 requests per minute
                isDeployed: true
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 10000
                conditionalGroups: []
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
            - apim:admin_tier_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/advanced/229a3c46-c836-43c8-b988-8eebd9c7774b"'

    put:
      tags:
        - Advanced Policy (Individual)
      summary: Update an Advanced Throttling Policy
      description: |
        Updates an existing Advanced throttling policy.
      parameters:
        - $ref: '#/components/parameters/policyId'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Policy object that needs to be modified
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedThrottlePolicy'
        required: true
      responses:
        200:
          description: |
            OK.
            Policy updated.
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThrottlePolicy'
              example:
                policyId: 4cf46441-a538-4f79-a499-ab81200c9bca
                policyName: 10KPerMin
                displayName: 10KPerMin
                description: Allows 10000 requests per minute
                isDeployed: true
                defaultLimit:
                  type: REQUESTCOUNTLIMIT
                  requestCount:
                    timeUnit: min
                    unitTime: 1
                    requestCount: 10000
                conditionalGroups: []
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/advanced/229a3c46-c836-43c8-b988-8eebd9c7774b"'

    delete:
      tags:
        - Advanced Policy (Individual)
      summary: Delete an Advanced Throttling Policy
      description: |
        Deletes an advanced throttling policy.
      parameters:
        - $ref: '#/components/parameters/policyId'
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
            - apim:policies_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/advanced/229a3c46-c836-43c8-b988-8eebd9c7774b"'
  ######################################################
  # "Export Throttling Policy" resource API
  ######################################################
  /throttling/policies/export:
    get:
      tags:
        - Import Export
      summary: Export a Throttling Policy
      description: |
        This operation can be used to export the details of a particular Throttling Policy.
      parameters:
        - name: policyId
          in: query
          description: UUID of the ThrottlingPolicy
          schema:
            type: string
        - name: name
          in: query
          description: |
            Throttling Policy Name
          schema:
            type: string
        - name: type
          in: query
          description: |
            Type of the Throttling Policy
          schema:
            type: string
            enum:
              - sub
              - app
              - api
              - global
      responses:
        200:
          description: |
            OK.
            Export Successful.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportThrottlePolicy'
              example:
                type: rate-limiting policy
                subtype: application
                version: v4.1.0
                data:
                  policyId: cd828243-a0db-430c-97e9-9e41fd865d48
                  policyName: 50PerMin
                  displayName: 50PerMin
                  description: Allows 50 request per minute
                  isDeployed: true
                  type: ApplicationThrottlePolicy
                  defaultLimit:
                    type: BANDWIDTHLIMIT
                    requestCount:
                      timeUnit: min
                      unitTime: 1
                      requestCount: 50
                    bandwidth:
                      timeUnit: min
                      unitTime: 5
                      dataAmount: 100
                      dataUnit: MB
                    eventCount:
                      timeUnit: min
                      unitTime: 5
                      eventCount: 16
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
            - apim:policies_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/export?policyId=96077508-fd01-4fae-bc64-5de0e2baf43c&name=Bronze&type=sub&format=YAML"'
      operationId: exportThrottlingPolicy
  ####################################################################
  # Import Throttling Policy
  ####################################################################
  /throttling/policies/import:
    post:
      tags:
        - Import Export
      summary: Import a Throttling Policy
      description: |
        This operation can be used to import a Throttling Policy
      parameters:
        - name: overwrite
          in: query
          description: |
            Update an existing throttlingpolicy with the same name
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              properties:
                file:
                  type: string
                  description: Json File
                  format: binary
        required: true
      responses:
        200:
          description: |
            Created.
            Throttling Policy Imported Successfully.
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
            - apim:admin_tier_manage
            - apim:policies_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/policies/import?overwrite=True"'
      operationId: importThrottlingPolicy
  ######################################################
  # The "Deny Policy Collection" resource API
  ######################################################
  /throttling/deny-policies:
    get:
      tags:
        - Deny Policies (Collection)
      summary: Get all Deny Policies
      description: |
        Retrieves all existing deny policies.
      parameters:
        - $ref: '#/components/parameters/Accept'
        - name: query
          in: query
          description: |
            **Search condition**.
            You can search in attributes by using **"conditionType:"** modifier and **"conditionValue:"** modifier.
            Eg.
            The entry "conditionType:API" will result in a match with blocking conditions only if the conditionType is "API". Similarly, "conditionValue:test/1.0.0" will result in a match with blocking conditions only if the conditionValue is "test/1.0.0".
            When you use "conditionType:API & conditionValue:test/1.0.0" as a combination, it will result in a match with blocking conditions only if both the conditionType is "API" and the conditionValue is "test/1.0.0".
            If query attribute is provided, this returns the blocking conditions that match the specified attributes.
            Please note that you need to use encoded URL (URL encoding) if you are using a client which does not support URL encoding (such as curl)
          schema:
            type: string
      responses:
        200:
          description: |
            OK.
            Deny Policies returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockingConditionList'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/deny-policies"'

    post:
      tags:
        - Deny Policies (Collection)
      summary: Add a deny policy
      description: |
        Adds a new deny policy
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Blocking condition object that should to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockingCondition'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          headers:
            Location:
              description: |
                Location of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockingCondition'
        400:
          $ref: '#/components/responses/BadRequest'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/deny-policies"'

  ######################################################
  # The "Individual Deny Policy" resource API
  ######################################################
  /throttling/deny-policy/{conditionId}:
    get:
      tags:
        - Deny Policy (Individual)
      summary: Get a Deny Policy
      description: |
        Retrieves a Deny policy providing the condition Id
      parameters:
        - $ref: '#/components/parameters/conditionId'
      responses:
        200:
          description: |
            OK.
            Condition returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockingCondition'
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/deny-policy/b513eb68-69e8-4c32-92cf-852c101363c"'

    delete:
      tags:
        - Deny Policy (Individual)
      summary: Delete a Deny Policy
      description: |
        Deletes an existing deny policy
      parameters:
        - $ref: '#/components/parameters/conditionId'
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/throttling/deny-policy/b513eb68-69e8-4c32-92cf-852c101363c"'

    patch:
      tags:
        - Deny Policy (Individual)
      summary: Update a Deny Policy
      description: |
        Update a deny policy by Id
      parameters:
        - $ref: '#/components/parameters/conditionId'
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: |
          Blocking condition with updated status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockingConditionStatus'
        required: true
      responses:
        200:
          description: |
            OK.
            Resource successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockingCondition'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PATCH -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/throttling/deny-policy/b513eb68-69e8-4c32-92cf-852c101363c"'

  ######################################################
  # The "Application Collection" resource APIs
  ######################################################
  /applications:
    get:
      tags:
        - Application (Collection)
      summary: |
        Retrieve/Search Applications
      description: |
        This operation can be used to retrieve list of applications owned by the given user, If no user
        is provided, the applications owned by the user associated with the provided access token will be returned.
      parameters:
        - $ref: '#/components/parameters/user'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/Accept'
        - name: name
          in: query
          description: |
            Application Name
          schema:
            type: string
        - name: tenantDomain
          in: query
          description: |
            Tenant domain of the applications to get. This has to be specified only if it is required to get applications of
            a tenant other than the requester's tenant. So, if not specified, the default will be set as the
            requester's tenant domain. This cross tenant Application access is allowed only for super tenant admin
            users **only at a migration process**.
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum:
              - name
              - owner
            default: name
        - name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        200:
          description: |
            OK.
            Application list returned.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationList'
        400:
          $ref: '#/components/responses/BadRequest'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_settings_change
            - apim:app_owner_change
            - apim:app_import_export
            - apim:admin_application_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/applications"'

  ######################################################
  # The "Individual Application" resource APIs
  ######################################################
  /applications/{applicationId}:
    get:
      tags:
        - Applications
      summary: |
        Get the details of an Application
      description: |
        This operation can be used to get the details of an application by specifying its id.
      parameters:
        - $ref: '#/components/parameters/applicationId'
      responses:
        200:
          description: |
            OK.
            Application details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_import_export
            - apim:admin_application_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X GET -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/applications/0a043c2b-ee75-4ef3-9e1c-fc2610ccfa8b"'

    delete:
      tags:
        - Applications
      summary: |
        Delete an Application
      description: |
        This operation can be used to delete an application by specifying its id.
      parameters:
        - $ref: '#/components/parameters/applicationId'
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
          content: {}
        202:
          description: |
            Accepted.
            The request has been accepted.
          headers:
            Location:
              description: |
                Location of the existing Application.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowResponse'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_import_export
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/applications/0a043c2b-ee75-4ef3-9e1c-fc2610ccfa8b"'

  /applications/{applicationId}/change-settings:
    post:
      tags:
        - Application
      operationId: updateApplicationSettings
      summary: Update Application Settings
      description: |
        This operation allows updating one or more settings of an application.
      parameters:
        - $ref: '#/components/parameters/applicationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateRequest'
      responses:
        200:
          description: Application updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_settings_change
      x-code-samples:
        - lang: Curl
          source: |
            curl -k -X POST \
            -H "Authorization: Bearer <access-token>" \
            -H "Content-Type: application/json" \
            -d '{
                  "owner": "newOwner",
                  "tokenType": "JWT"
                }' \
            "https://127.0.0.1:9443/api/am/admin/v4/applications/0a043c2b-ee75-4ef3-9e1c-fc2610ccfa8b"

  /applications/{applicationId}/change-owner:
    post:
      deprecated: true
      tags:
        - Application
      summary: Change Application Owner
      description: |
        **Deprecated.**
        This API will be removed in a future release.
        Use `/applications/{applicationId}/change-settings` instead.
        
        This operation is used to change the owner of an Application.
        In order to change the owner of an application, we need to pass the new application owner as a query parameter
      parameters:
        - name: owner
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/applicationId'
      responses:
        200:
          description: |
            OK.
            Application owner changed successfully.
          content: {}
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_owner_change
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/applications/0a043c2b-ee75-4ef3-9e1c-fc2610ccfa8b/change-owner?owner=admin"'

  ######################################################
  # AI Service Providers resource APIs
  ######################################################
  /ai-service-providers:
    get:
      tags:
        - AIServiceProviders
      summary: Get all AI Service providers
      description: |
        Get all AI Service providers
      responses:
        200:
          description: |
            OK.
            AI Service providers returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIServiceProviderSummaryResponseList'
      security:
        - OAuth2Security:
            - apim:admin
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers"'
      operationId: getAIServiceProviders

    post:
      tags:
        - AIServiceProviders
      summary: Add a AI Service provider
      description: |
        Add a new AI Service provider
      requestBody:
        description: |
          AI Service provider object that should to be added
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AIServiceProviderRequest'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created AI Service provider as entity in the body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIServiceProviderResponse'
        400:
          $ref: '#/components/responses/BadRequest'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:llm_provider_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer <ACCESS_TOKEN>" -H "Content-Type: multipart/form-data" 
          -F "name=AIServiceProviderName" -F "apiVersion=v1" -F "configurations={\"key\":\"value\"}" 
          -F "apiDefinition=@api_definition_file.json" 
          "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers"'
      operationId: addAIServiceProvider

  ######################################################
  # The "Individual AI Service Provider" resource APIs
  ######################################################
  /ai-service-providers/{aiServiceProviderId}:
    put:
      tags:
        - AIServiceProvider
      summary: Update an AI Service provider
      description: |
        Update a AI Service provider by AIServiceProviderId
      parameters:
        - $ref: '#/components/parameters/aiServiceProviderId'
      requestBody:
        description: |
          AI Service Provider object with updated information
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AIServiceProviderRequest'
        required: true
      responses:
        200:
          description: |
            OK.
            AI Service Provider updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIServiceProviderResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:llm_provider_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" \
                   -F "name=UpdatedProviderName" \
                   -F "apiVersion=v2" \
                   -F "configurations={\"key\":\"value\"}" \
                   -F "apiDefinition=@api_definition.json" \
                   "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers/{aiServiceProviderId}"'
      operationId: updateAIServiceProvider

    delete:
      tags:
        - AIServiceProvider
      summary: Delete a AI Service Provider
      description: |
        Delete a AI Service Provider by aiServiceProviderId
      parameters:
        - $ref: '#/components/parameters/aiServiceProviderId'
      responses:
        200:
          description: |
            OK.
            AI Service provider successfully deleted.
          content: { }
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:llm_provider_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers/a2f1e643-9b2a-4f58-bd7a-8c2d3f1e9d6f"'
      operationId: deleteAIServiceProvider

    get:
      tags:
        - AIServiceProvider
      summary: Get AI Service Provider
      description: |
        Get a AI Service Provider
      parameters:
        - $ref: '#/components/parameters/aiServiceProviderId'
      responses:
        200:
          description: |
            OK.
            OpenAPI specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIServiceProviderResponse'
      security:
        - OAuth2Security:
            - apim:admin
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/ai-service-providers/a2f1e643-9b2a-4f58-bd7a-8c2d3f1e9d6f"'
      operationId: getAIServiceProvider

  ######################################################
  # LLM Providers resource APIs
  ######################################################
  /llm-providers:
    get:
      deprecated: true
      tags:
        - LLMProviders
      summary: Get all LLM providers
      description: |
        Get all LLM providers
      responses:
        200:
          description: |
            OK.
            LLM providers returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderSummaryResponseList'
      security:
        - OAuth2Security:
            - apim:admin
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/llm-providers"'
      operationId: getLLMProviders

    post:
      deprecated: true
      tags:
        - LLMProviders
      summary: Add a LLM provider
      description: |
        Add a new LLM provider
      requestBody:
        description: |
          LLM provider object that should to be added
        content:
          multipart/form-data:
            schema:
              required:
                - name
                - apiVersion
                - configurations
                - apiDefinition
              $ref: '#/components/schemas/LLMProviderRequest'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created LLM provider as entity in the body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        400:
          $ref: '#/components/responses/BadRequest'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:llm_provider_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/llm-providers"'
      operationId: addLLMProvider

  ######################################################
  # The "Individual LLM Provider" resource APIs
  ######################################################
  /llm-providers/{llmProviderId}:
    put:
      deprecated: true
      tags:
        - LLMProvider
      summary: Update an LLM provider
      description: |
        Update a LLM provider by LLMProviderId
      parameters:
        - $ref: '#/components/parameters/llmProviderId'
      requestBody:
        description: |
          LLM Provider object with updated information
        content:
          multipart/form-data:
            schema:
              required:
                - apiDefinition
              $ref: '#/components/schemas/LLMProviderRequest'
        required: true
      responses:
        200:
          description: |
            OK.
            LLM Provider updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:llm_provider_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/llm-providers/a2f1e643-9b2a-4f58-bd7a-8c2d3f1e9d6f"'
      operationId: updateLLMProvider

    delete:
      deprecated: true
      tags:
        - LLMProvider
      summary: Delete a LLM Provider
      description: |
        Delete a LLM Provider by llmProviderId
      parameters:
        - $ref: '#/components/parameters/llmProviderId'
      responses:
        200:
          description: |
            OK.
            LLM provider successfully deleted.
          content: { }
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:llm_provider_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/llm-providers/a2f1e643-9b2a-4f58-bd7a-8c2d3f1e9d6f"'
      operationId: deleteLLMProvider

    get:
      tags:
        - LLMProvider
      summary: Get LLM Provider
      description: |
        Get a LLM Provider
      parameters:
        - $ref: '#/components/parameters/llmProviderId'
      responses:
        200:
          description: |
            OK.
            OpenAPI specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMProviderResponse'
      security:
        - OAuth2Security:
            - apim:admin
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/llm-providers/a2f1e643-9b2a-4f58-bd7a-8c2d3f1e9d6f"'
      operationId: getLLMProvider

  ######################################################
  # The "Environment" resource API
  ######################################################
  /environments:
    get:
      tags:
        - Environments
      summary: Get all registered Environments
      description: |
        Get all Registered Environments
      responses:
        200:
          description: |
            OK.
            Environments returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentList'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:environment_read
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/environments"'

    post:
      tags:
        - Environments
      summary: Add an Environment
      description: |
        Add a new gateway environment
      requestBody:
        description: |
          Environment object that should to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created environment as entity in the body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        400:
          $ref: '#/components/responses/BadRequest'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:environment_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/environments"'

  ######################################################
  # The "Individual Environment" resource APIs
  ######################################################
  /environments/{environmentId}:
    get:
      tags:
        - Environments
      summary: Get a Gateway Environment Configuration
      description: |
        Retrieve a single Gateway Environment Configuration. We should provide the Id of the Environment as a path parameter.
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        200:
          description: |
            OK.
            Gateway Environment Configuration returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:environment_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/environments/8d263942-a6df-4cc2-a804-7a2525501450"'
    put:
      tags:
        - Environments
      summary: Update an Environment
      description: |
        Update a gateway Environment by environment Id
      parameters:
        - $ref: '#/components/parameters/environmentId'
      requestBody:
        description: |
          Environment object with updated information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
        required: true
      responses:
        200:
          description: |
            OK.
            Environment updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:environment_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/environments/d7cf8523-9180-4255-84fa-6cb171c1f779"'

    delete:
      tags:
        - Environments
      summary: Delete an Environment
      description: |
        Delete a Environment by Environment Id
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        200:
          description: |
            OK.
            Environment successfully deleted.
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:environment_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/environments/d7cf8523-9180-4255-84fa-6cb171c1f779"'

  /environments/{environmentId}/gateways:
    get:
      tags:
        - Environments
      summary: Get Gateway Instances in a Gateway Environment
      description: |
        Retrieve list of gateway Instances in the gateway environment.
      parameters:
        - $ref: '#/components/parameters/environmentId'
      responses:
        200:
          description: |
            OK.
            List of gateway Instances in the gateway environment returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayInstanceList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:environment_read
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/environments/8d263942-a6df-4cc2-a804-7a2525501450/gateways"'

  ######################################################
  # The "Platform Gateways" resource API (platform / self-hosted gateway registration)
  ######################################################
  /gateways:
    get:
      operationId: getPlatformGateways
      tags:
        - Platform Gateways
      summary: Get all platform gateways
      description: |
        Get all registered platform gateways for the organization.
      responses:
        200:
          description: |
            OK.
            List of platform gateways returned (without registration tokens).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayList'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/gateways"'
    post:
      operationId: createPlatformGateway
      tags:
        - Platform Gateways
      summary: Register a platform gateway
      description: |
        Register a new platform gateway. A registration token is generated and returned
        once in the response; store it (e.g. as GATEWAY_CONTROL_PLANE_TOKEN in Docker Compose) for the
        gateway to connect to the control plane WebSocket. The token is stored hashed and cannot be retrieved later.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlatformGatewayRequest'
      responses:
        201:
          description: |
            Created.
            Gateway and registration token (returned once) in the response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResponseWithToken'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
      security:
        - OAuth2Security:
            - apim:admin
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/gateways"'

  /gateways/{gatewayId}/regenerate-token:
    post:
      operationId: regeneratePlatformGatewayToken
      tags:
        - Platform Gateways
      summary: Regenerate registration token for a platform gateway
      description: |
        Regenerate the registration token for an existing platform gateway. The old token is revoked
        and a new one is generated. Store the new token (e.g. as GATEWAY_CONTROL_PLANE_TOKEN in Docker Compose)
        for the gateway to reconnect to the control plane WebSocket. The token is returned only once.
      parameters:
        - name: gatewayId
          in: path
          description: Gateway UUID
          required: true
          schema:
            type: string
      responses:
        200:
          description: |
            OK.
            Gateway and new registration token (returned once) in the response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResponseWithToken'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/gateways/{gatewayId}/regenerate-token"'

  /gateways/{gatewayId}:
    put:
      operationId: updatePlatformGateway
      tags:
        - Platform Gateways
      summary: Update a platform gateway
      description: |
        Update platform gateway metadata. Request body must include all updatable fields (displayName,
        description, properties, permissions). Name and vhost cannot be changed. UI should send
        the full resource representation to align with PUT semantics.
      parameters:
        - name: gatewayId
          in: path
          description: Gateway UUID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlatformGatewayRequest'
      responses:
        200:
          description: OK. Updated platform gateway in the response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformGatewayResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
    delete:
      operationId: deletePlatformGateway
      tags:
        - Platform Gateways
      summary: Delete a platform gateway
      description: |
        Delete a platform gateway and all its references (tokens, instance mappings, revision deployment
        records, gateway environment, permissions). Fails with 409 if any API revisions are currently
        deployed to this gateway; undeploy all APIs from the gateway first.
      parameters:
        - name: gatewayId
          in: path
          description: Gateway UUID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK. Gateway and all references removed.
        404:
          $ref: '#/components/responses/NotFound'
        409:
          description: Conflict. Cannot delete gateway while API revisions are deployed to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - OAuth2Security:
            - apim:admin

  ######################################################
  # The "Organizations" resource API
  ######################################################
  /organizations:
    get:
      tags:
        - Organizations
      summary: Get all registered Organizations
      description: |
        Get all Registered Organizations
      responses:
        200:
          description: |
            OK.
            Organizations returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:organization_read
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/organizations"'

    post:
      tags:
        - Organizations
      summary: Add an Organizations
      description: |
        Add a new organization
      requestBody:
        description: |
          Organization object that should to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created organization as entity in the body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        400:
          $ref: '#/components/responses/BadRequest'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:organization_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/organizations"'

  ######################################################
  # The "Individual Environment" resource APIs
  ######################################################
  /organizations/{organizationId}:
    get:
      tags:
        - Organizations
      summary: Get an Organization
      description: |
        Get an organization by organization Id
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        200:
          description: |
            OK.
            Organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:organization_read
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X GET -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/organizations/d7cf8523-9180-4255-84fa-6cb171c1f779"'
    put:
      tags:
        - Organizations
      summary: Update an Organization
      description: |
        Update an organization by organization Id
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: |
          Organization object with updated information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        200:
          description: |
            OK.
            Organization updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:organization_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v4/organizations/d7cf8523-9180-4255-84fa-6cb171c1f779"'

    delete:
      tags:
        - Organizations
      summary: Delete an Organization
      description: |
        Delete an organization by organization Id
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        200:
          description: |
            OK.
            Organization successfully deleted.
          content: {}
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:organization_manage
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/organizations/d7cf8523-9180-4255-84fa-6cb171c1f779"'

  /me/organization-information:
    get:
      tags:
        - Users
      summary: Get the Organization information of the user
      description: |
        Using this operation, logged-in user can get their organization information.
      operationId: organizationInformation
      responses:
        200:
          description: |
            OK.
            Key Manager list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInfo'
        400:
          $ref: '#/components/responses/BadRequest'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:admin_settings
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          -H "Content-Type: application/json" -X POST -d @data.json "https://localhost:9443/api/am/publisher/v4/me/organization"'
  ######################################################
  # The Bot Detection Data API resources
  ######################################################
  /bot-detection-data:
    get:
      tags:
        - Bot Detection Data
      summary: |
        Get all Bot Detected Data
      description: |
        Get all bot detected data
      operationId: getBotDetectionData
      responses:
        200:
          description: |
            OK.
            Bot detected data returned.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotDetectionDataList'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bot_data
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/bot-detection-data"'

  ######################################################
  # The "Monetization" resource APIs
  ######################################################
  /monetization/publish-usage:
    post:
      tags:
        - Monetization (Collection)
      summary: Publish Usage Records
      description: |
        Publish usage records of monetized APIs
      responses:
        200:
          description: Usage records successfully published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishStatus'
        202:
          description: Request is sucessfully accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishStatus'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:monetization_usage_publish
      x-code-samples:
        - lang: Curl
          source: 'curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/monetization/publish-usage"'

  /monetization/publish-usage/status:
    get:
      tags:
        - Monetization (Collection)
      summary: Get the Status of Monetization Usage Publisher
      description: |
        Get the status of monetization usage publisher
      responses:
        200:
          description: |
            OK.
            Status returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonetizationUsagePublishInfo'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:monetization_usage_publish
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/monetization/publish-usage/status"'

  ######################################################
  # The "Workflow Collection" resource APIs
  ######################################################
  /workflows:
    get:
      tags:
        - Workflow (Collection)
      summary: |
        Retrieve All Pending Workflow Processes
      description: |
        This operation can be used to retrieve list of workflow pending processes.
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/Accept'
        - name: workflowType
          in: query
          description: |
            We need to show the values of each workflow process separately .for that we use workflow type.
            Workflow type can be AM_APPLICATION_CREATION, AM_SUBSCRIPTION_CREATION,   AM_USER_SIGNUP, AM_APPLICATION_REGISTRATION_PRODUCTION, AM_APPLICATION_REGISTRATION_SANDBOX.
          schema:
            type: string
            enum:
              - AM_APPLICATION_CREATION
              - AM_SUBSCRIPTION_CREATION
              - AM_USER_SIGNUP
              - AM_APPLICATION_REGISTRATION_PRODUCTION
              - AM_APPLICATION_REGISTRATION_SANDBOX
              - AM_SUBSCRIPTION_DELETION
              - AM_APPLICATION_DELETION
              - AM_API_STATE
              - AM_API_PRODUCT_STATE
              - AM_REVISION_DEPLOYMENT
      responses:
        200:
          description: |
            OK.
            Workflow pendding process list returned.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowList'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        406:
          $ref: '#/components/responses/NotAcceptable'
      security:
        - OAuth2Security:
            - apim:admin
            - apim:api_workflow_view
      x-code-samples:
        - lang: Curl
          source: 'curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8"
          "https://127.0.0.1:9443/api/am/admin/v4/workflows"'

  /workflows/{externalWorkflowRef}:
    get:
      tags:
        - Workflows (Individual)
      summary: |
        Get Pending Workflow Details by External Workflow Reference
      description: |
[...]
