# By default, This file contains the secret alias names and the plain text passwords enclosed with '[]' brackets
# In Production environments, It is recommend to replace these plain text password by the encrypted values. CipherTool can be used for it.

{% for secret_name,secret_value in secrets.items()%}
{{secret_name}}={{secret_value}}
{% endfor %}