<?xml version="1.0" encoding="ISO-8859-1"?>
<parameter name="customSSLProfiles" xmlns:svns="http://org.wso2.securevault/configuration">
    <profile>
        <servers>*</servers>
        <KeyStore>
            <Location>repository/resources/security/{{keystore.tls.file_name}}</Location>
            <Type>{{keystore.tls.type}}</Type>
            <Password>{{keystore.tls.password}}</Password>
            <KeyPassword>{{keystore.tls.key_password}}</KeyPassword>
        </KeyStore>
        <TrustStore>
            <Location>repository/resources/security/{{truststore.file_name}}</Location>
            <Type>{{truststore.type}}</Type>
            <Password>{{truststore.password}}</Password>
        </TrustStore>
    </profile>
</parameter>

