<handlers xmlns:svns="http://org.wso2.securevault/configuration">
    <handler name="external_call_logger" class="org.wso2.carbon.apimgt.gateway.handlers.DefaultAPIHandler"/>
    <handler name="external_call_logger" class="org.wso2.carbon.apimgt.gateway.handlers.LogsHandler"/>
    <handler name="open_tracing" class="org.wso2.carbon.apimgt.gateway.handlers.common.APIMgtLatencySynapseHandler"/>
{% if apim.transport_headers is defined %}
{% if apim.transport_headers.enable %}
    <handler name="TransportHeaderHandler" class="org.wso2.carbon.apimgt.gateway.handlers.common.TransportHeaderHandler">
    {% if apim.transport_headers.removeRequestHeaders is defined %}
        <parameter name="removeRequestHeaders" value="{{apim.transport_headers.removeRequestHeaders}}"/>
    {% endif %}
    {% if apim.transport_headers.preserveRequestHeaders is defined %}
        <parameter name="preserveRequestHeaders" value="{{apim.transport_headers.preserveRequestHeaders}}"/>
    {% endif %}
    {% if apim.transport_headers.excludeRequestHeaders is defined %}
        <parameter name="excludeRequestHeaders" value="{{apim.transport_headers.excludeRequestHeaders}}"/>
    {% endif %}
    {% if apim.transport_headers.excludeResponseHeaders is defined %}
        <parameter name="excludeResponseHeaders" value="{{apim.transport_headers.excludeResponseHeaders}}"/>
    {% endif %}
    </handler>
{% endif %}
{% endif %}
{% if apim.transaction_counter is defined %}
{% if apim.transaction_counter.enable %}
    <handler name="TransactionCountHandler" class="org.wso2.integration.transaction.counter.TransactionCountHandler"/>
{% endif %}
{% endif %}
{% for key,value in synapse_handlers.items() %}
    {% if value.enabled %}
    <handler name="{{key}}" class="{{value.class}}"/>
    {% endif %}
{% endfor %}
</handlers>
