<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ WSO2 LLC. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ServiceAccessControl>
  <Enabled>{{ admin_service.enable_global_access_control | default('true') }}</Enabled>
  <Services>
    {% for svc in admin_service.access_control %}
    <Service>
      <Name>{{ svc.name }}</Name>
      <AuthenticationEnabled>{{ svc.authentication_enabled | default(true) | string | lower }}</AuthenticationEnabled>
      {% if svc.permissions %}
      <Permissions>
        {% for perm in svc.permissions %}
        <Permission>{{ perm }}</Permission>
        {% endfor %}
      </Permissions>
      {% endif %}
      {% if svc.operation %}
      <Operations>
        {% for op in svc.operation %}
        <Operation name="{{ op.name }}">
          {% if op.permissions %}
          <Permissions>
            {% for perm in op.permissions %}
            <Permission>{{ perm }}</Permission>
            {% endfor %}
          </Permissions>
          {% elif op.authentication_enabled is defined %}
          <AuthenticationEnabled>{{ op.authentication_enabled | string | lower }}</AuthenticationEnabled>
          {% endif %}
        </Operation>
        {% endfor %}
      </Operations>
      {% endif %}
    </Service>
    {% endfor %}
  </Services>
</ServiceAccessControl>