body{
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    min-width: 980px;
}
label, input, button, select, textarea{
    font-size: 13px;
}
.copy-msg{
    margin:10px 0 10px 0;
}
.copy-msg li{
    float:right;
    margin-right:10px;
    list-style-type:none;
}
.copy-msg li a{
    color:#CDA869;
}
#tiers .form-inline{
    padding-bottom:10px;
}
#tiers .form-actions{
    padding:10px 0;
    margin:0;
}
.tenant-position-setter{
    color: #888;
    margin-top: 48px;
    text-align: right;
    position: absolute;
    right:20px;
}
.tenant-position-setter a{
    color: #005580;
}
#item-add{
    margin-top: -25px;
}
.follow-us{
  margin:10px 0 10px 0;
}
.follow-us li{
     float:right;
    margin-right:5px;
    list-style-type:none;
}
.icon-blog{
    background:transparent url(../images/mailList.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-twitter{
    background:transparent url(../images/twitter.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-facebook{
    background:transparent url(../images/facebook.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-rss{
    background:transparent url(../images/rss.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.title-section {
    background: rgb(255,255,255); /* Old browsers */
     /* IE9 SVG, needs conditional override of 'filter' to 'none' */
     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
     background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
     background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */

     -webkit-border-radius: 5px 5px 0px 0px;
             border-radius: 5px 5px 0px 0px;

}
.content-section{
    background:white;
}

.content-data{
    padding:20px;
}
.content-section, .content-section-small, .title-section{
      -webkit-box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.title-section h1{
    margin:0 0 0 0;
}
.title-section h3{
    margin:0 0 0 20px;
    font-size:18px;
}
.title-section h2{
    margin:0 20px;
    font-size:22px;
    color: #7d7d7d;
    padding:10px;
}
.brand{
    position:absolute;
    z-index: 100;
}
.brand img{
    width:200px;
}
table a{
    cursor:pointer;
}
.table th, .table td {
    font-size:12px;
}
#main-ajax-loader {
    text-align : center;
    height : 400px;
}
.requiredAstrix{
    color:red;
}
.nav .nav-header {
    font-size:13px;
}
.errorlist{
    color:#d10000;
    padding:5px 0px;
}
label.error{
    color:#d10000 !important;
    padding:5px;
}
input.error{
    border-color: rgba(228, 38, 38, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
}
.resourceTableDiv{
    padding-top:10px;
}

#copy-api {
    display: none;
}
.btn-api-del{
    margin-left: 136px;
    margin-top: -12px;
    opacity: .5;
    position: absolute;
}
.top-spaced{
    padding-top:40px;
}
.left-spaced{
    padding-left:10px;
}
div.navbar-inner {
    height:83px;
    min-width:450px;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    -webkit-box-shadow: 0 0 0 #fff;
}
#layout-base{
    padding-left:0;
    margin-left:0;
    min-height: 600px;
}
.menu-content{
    margin: 0 0 0;
}
.menu-content .navbar .nav > li > a {
    padding:5px 14px 0px;
    text-align:center;
    cursor:pointer;
    text-shadow: 0 0 0 #FFFFFF;
    color:#fff;
    height:50px;
}
a.powered-by-logo {
    background: transparent url(../images/poweredByLogo.png) no-repeat 0 0;
    display: block;
    width: 208px;
    height: 23px;
    cursor: pointer;
}
.navbar{
    margin-bottom: 16px;
}
.navbar .nav > li > a{
    color:#fff;
    text-shadow: 0 0 0 #FFFFFF;
}
.navbar .divider-vertical{
     background-color: #fff;
}
.even-width-button{    
    font-size: 11px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 84px;
}
.icon-lifecycle{
    background:transparent url(../images/lifecycle.png) no-repeat 0 0;
    width:14px;
    height:14px;
}
.lifeCycleTable{
    margin-bottom:10px;
}
.lifeCycleTable td{
    padding:5px 0;
}
.messageText{
    font-size:13px;
}
.user-name{
    cursor:pointer;
}
.loadingButton, .loadingButton:hover{
    background-image:url(../images/ajax-loader-black.gif);
    background-repeat:no-repeat;
    background-position:10px center;
    text-indent:30px;
    padding:20px;
    cursor:default;
}
.nav-list > li > a.noHover:hover{
    background:#fff;
}
#left li a,.breadcrumb a {
    cursor:pointer;
}
#userInfoMenu{
    padding-bottom:0px;
}
#userInfoMenu a{
    color:#444 !important;
    margin-left:5px;
}
.themeSelection,.userInfoSection{
    padding:20px;
}
.themeSelection{
    width:400px;
}
.navbar .navbar-inner .nav.actions a.themeSelectionLink {
    margin:5px;
    color:#444;
}
.themeSelection a{
    color:#000;
}
.login-header{
    margin-bottom:14px;
    background: #292E38;
}
#login-link{
    margin-left:0;
}
.logout-link-special{
    background:#999;
    padding:10px;
}
#resourceTable td label.inline, #resourceTable td label.inline{
    margin-left:10px;
    width:40px;
    padding:0 5px 5px;
}
#userInfoMenu{
    margin-left:-100px;
    position:absolute;
    background:white;
}
#userMenu{
    cursor:pointer;
}
#userMenu b{

}
#userMenu:hover{
    background:transparent;
    color:#fff;
}
#editStatusForm{
    padding-bottom:0;
}
.userSpecialCell{
    width:150px;
}
.appSpecialCell{
}
.tierSpecialCell{
    width:100px;
}
/*
@media all and (max-width: 850px) {
    #left{
        display:block;
        width:100%;
    }
}
@media all and (max-width: 900px) {
    div.login-container div.row{
        padding:0 10px;
    }
    div.login-container div.span4{
        width:94%;
        margin:0;
        display:block;
        float:none;
    }
    #layout-base {
        min-height:0;
    }
}
@media all and (max-width: 1025px) {
     .pagination a{
        padding:0 9px;
    }
}
*/
.login-container{
    margin-top:20px;
}
.form-horizontal .controls .tierHelp,form.form-search .tierHelp {
  background:transparent url(../images/help.png) no-repeat;
  width:16px;
  height:16px;
  margin-top:-26px;
  cursor:pointer

}
form.form-search .tierHelp {
    margin-top:2px;
}

.form-horizontal .controls .tierPara,.form-horizontal .controls .rolePara{
  display: block;
  float: right;
  width: 63%;
  color: #999999;
  margin-bottom: 0;
  margin-top: 0;
  text-align:justify;
}

.form-horizontal .controls select {
  width: 32%;
}
.graphTable a {
       color: #c75f3e;
}

.graphTable {
       padding: 0;
       margin: 10px 0 0 0;
   border-left: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
}

.graphTable caption {
       padding: 0 0 5px 0;
       width: 700px;
       font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       text-align: right;
}

.graphTable th {
       font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #4f6b72;
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
       letter-spacing: 2px;
       text-transform: uppercase;
       text-align: left;
       padding: 6px 6px 6px 12px;
       background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.graphTable  th.nobg {
       border-top: 0;
       border-left: 0;
       border-right: 1px solid #C1DAD7;
       background: none;
}

.graphTable td {
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       background: #fff;
       padding: 6px 6px 6px 12px;
       color: #4f6b72;
}


.graphTable td.alt {
       background: #F5FAFA;
       color: #797268;
   width:100%;
}

.graphTable th.spec {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #fff;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.graphTable th.specalt {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #f5fafa;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #797268;
}
.remove-well-space{
   padding:0 0 10px 0;
}

#resourceTable  tr:nth-child(2n1) td{
     background-color: #cccccc;
}
#resourceTable td{
    vertical-align:middle;
    padding:3px;
}
#resourceTable td a.edit-btn-special{
    margin-top:10px;
}
#resourceTable td div.container-fluid{
    padding:0 0 0 5px;
}
#resourceTable label.checkbox {
    height:23px;
    line-height:23px;
}
#resourceTable select{
    font-size:11px;
}
#resourceTableDiv a{
    cursor:pointer;
}
#resourceTableDiv a.btn{
    margin-bottom:10px;
    text-align:left;
}
#resourceTableDiv button.btn{
    margin-bottom:10px;
    text-align:left;
}
.up-down-arrows{
    margin-left: 25px;
    margin-top: -40px;
    position: absolute;
}
.apiFaultyByTimeChart-filter{
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding:5px;
    margin-bottom:10px;
}


.easyPieWrapper{
    margin: 10px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #636363;
    text-align: center;
    width:124px;
}
.easyPieChart{
    margin: 0 auto;
}
#apiChart{
    font-size: 0.8em;
}
#serviceTimeChart{
    font-size: 1.2em;
}
#rangeSliderWrapper{
    height: 60px;
    position: relative;
    border: 2px solid #C8C8C8 !important;
}
#rangeSliderWrapper #rangeSlider{
    position: relative;
    top: 40px;
    width:96%;
    left:10px;

}
.affix{
    position: fixed!important;
    top:10px;
    z-index: 9999!important;
}
#serviceTimeChart{
    color:#3C565E!important;
    font-size: 1.2em!important;
}

.tdNumberCell{
    text-align: right!important;
}
.errorWrapper{
    font-size:1.4em;
}
.top-level-warning {
    display: block;
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
    width: 98%;
}
a.warningLink{
   color: #FFFFFF;
    text-decoration: underline;
}
a.warningLink:hover{
    color: #FFE9B5;
}

.btn-api-del {
    margin-left: 143px;
    margin-top: 7px;
    opacity: 0.5;
    position: absolute;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
h1, h2, h3, h4, h5, h6{
    margin:0;
}
.footer-main{
    background: transparent;
    padding:10px 0;
    z-index:-1;
    min-height: 68px; /* .push must be the same height as .footer */
    color:#444;
}



.header{
    height:54px;
    padding:0;
    position:absolute;
    width:100%;
    z-index:-1;
}
.top-menu{
    background:transparent;
    height:143px;
}
.brand{
    width:155px;
    height:26px;
    display:block;
    margin-top:8px;
    margin-left:-2px;
}
.menu-back{
    background:transparent;
    height:55px;
    margin-left: 0;
}
.menu-content{
    margin-left:0;
    height:46px;
}
.form-actions{
    background: transparent;
}

.navbar ul.login-sign-up{
    margin-right: 0;
    position:absolute;
    display:block;
    right:20px;
    top:10px;
}
.navbar ul.login-sign-up li{
   float:right;
}
#userInfoMenu .userInfoSection{
    width:80%;
}
.logout-link-special{
    width:89%;
}
div.navbar-inner{
    padding-right:0;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -180px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 180px;
}
#footer {
    background:#444;
    border-top:solid 1px #000;
}
#footer div.footer-main h5{
    margin-bottom:15px;
    color: #efefef;
}
.share-pane a.facebook{
    background:transparent url(../images/facebook_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.linkedin{
    background:transparent url(../images/linkedin_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.twitter{
    background:transparent url(../images/twitter_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.help-links li a{
    color: #aeaeae;
}
.help-links li{
    list-style-type: none;
}
.help-links{
    margin:0;
}
.help-and-links div.pull-left{
    margin-right: 40px;
}
.help-links li a.more-link{
    color:#777;
}
.left-menu-back01{
    padding:0;
}
#left{
    margin-top:-14px;
    z-index:1;
    float:left;
}
#left li a{
    padding:10px 5px 10px 20px;
    text-shadow: none;
    border-bottom: solid 1px #000;
    color:#fff;
    font-size: 13px;
}
#left .nav-list > .active > a,#left .nav-list > .active > a:hover,#left .nav-list > .active > a:focus{
    background-color: #18CDE8;
    color:#292E38;
}
#left li a:hover{
    background-color: #818791;
}
.left-menu-back01 li.nav-header{
    color: #FFFFFF;
    font-size: 14px;
    padding-left: 20px;
    text-shadow: none;
    padding-top:10px;
    padding-bottom:10px;
    background:#3a3c42;
    margin-top:0;
    text-transform:none;
}
.thumbnail h5 div{
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   display: block;
}
.navbar-inner,.menu-content{
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.radio-class {
	float:left;
	clear:none;
	margin: 2px 0 0 2px;
}
.radio-label-class {
	float:left;
	clear:none;
	display:block;
	padding: 2px 1em 0 0;
}
.form-horizontal div.transport-styles {
    margin-bottom:30px;
}

.transport-styles label.error{
    display:block;position:absolute;margin-top:40px;margin-left:-23px;
}
legend{
    margin-left:10px;
}
.form-horizontal div.inline-help{
    margin-top:0;
}
div.controls .help-block{
    color: #747474;
    font-size: 11px;
    margin-top: 5px;
}
/*.legend-with-hidden-info{
    margin-bottom: 0;
}*/
.hidden-section{
    margin-left: 10px;
}
.resourceTableContainer{
    padding-left:10px;
}
.legend-link{
    font-size: 11px;
}
i.icon-keys{
    margin-top:7px;
}
.js_hidden_section_title{
    cursor: pointer;
}
#editAPIForm div.control-group, #addAPIForm div.control-group{
    margin-bottom: 8px;
}
#editAPIForm div.form-actions, #addAPIForm div.form-actions{
    padding-left: 10px;
}

._jsonform-array-ul .controls{
    margin-left:0px !important;
    margin-top:25px;
}

._jsonform-array-ul label{

    float:left;
    margin-bottom:0px;
    text-align:left !important;
}

._jsonform-array-ul {
    margin-left:0px !important;
}

.url_validate_label { margin-left: 5px;}

#advance_form legend{
    font-size:14px;
    font-weight:bolder;
    margin-left:0px;
    line-height:16px;
}

.jsonform-error-sandbox_endpoints, .jsonform-error-sandbox_failovers {
    padding:10px 0px;
    background-color:#EBE3C3;
}

.jsonform-error-sandbox_failovers{
    margin-top:-10px;
    padding-top:10px
}

.help_popup{
    vertical-align:top;
    margin-top:5px;
}

/* bootstrap overide */
legend + .control-group {
    margin-top:0px;
}

.endpoint_list{
    list-style:none;
    margin:0px;
}

label.errorTier {
    color: #BE0000;
    padding-bottom: 10px;
}

.pointer{ cursor: pointer;}


#define_scopes { margin-left: 10px}
#middle{
    float: left;
    margin-left: 20px;
    margin-bottom:92px;
    top: 72px;
    z-index:0;
    min-width:400px;
    margin-top:0;
}
#middle div.container{}
.breadcrumb{
    background:transparent;
    padding:0;
}
.child-nodesw ul{
    margin:0 0 0 20px;
    padding-bottom:5px;
}
#left  .child-nodesw ul li{
    list-style: none;
    border-bottom: none;
    padding:5px 0;
}
#left .child-nodesw ul li a{
    border-bottom: none;
    padding:0;
    margin:0;
    color:#ccc;
}
#left .child-nodesw ul li a:hover{
    background: transparent;
}
.doc-search-result {
	margin-bottom: 15px;
	float:left;
	width:60%;
}

.doc-search-api-result {
	float:left;
	padding-left:50px;
}
.doc-search-result-text {
	color:#547f00;
}
.left-menu-back01{
    background: transparent url(../images/left-menu-back02.png) repeat left top;
}
.doc-search-result-content {
	margin:10px 0;
	font-size: 14px;
	font-weight:bold;
}
.doc-content {
	margin:10px 0;
	padding-bottom:20px;
	font-size: 30px;
	font-weight:bold;
}
@media all and (min-width: 0px){
	#middle{
		width:100%;
    }
    #left{
        width:100%;
        background: #636871;
    }
    body{
        background: #fff;
    }
    .footer-main{
        margin-left:25px;
    }
    div.row-fluid .login-left{
        display: none;
    }
    div#middle  div.login-container{
        padding-left:0;
    }
    div.row-fluid div.login-content{
        width:75%;
    }
}
@media all and (min-width: 900px){
    body{
        background: #fff url(../images/back-normal.png) repeat-y left top;
    }
	#middle{
		width:65%;
	}
    #left{
        width:251px;
        background: transparent;
    }
    .footer-main{
        margin-left:277px;
    }
    div.row-fluid div.login-content{
        margin-left:250px;
    }
}
@media all and (min-width: 1000px){
	#middle{
		width:70%;
	}

    div#middle div.login-container{
        padding-left:20px;
    }
    div.row-fluid div.login-content{
        width:48.9362%;
    }
    div.row-fluid .login-left{
        display: block;
    }
}
@media all and (min-width: 1400px){
	#middle{
		width:75%;
	}
}
@media all and (min-width: 1500px){
	#middle{
		width:80%;
	}
}
@media all and (min-width: 1534px){
	#middle{
		width:82%;
	}

}


ol.progtrckr {
    margin: auto;
    padding: 0;
    list-style-type none;
    margin-bottom: 30px;

}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    font-size: 1.3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-active {
    color: black;
    border-bottom: 4px solid #205081;
}

ol.progtrckr li.progtrckr-done {
    color: #029937;
    border-bottom: 4px solid #029937;
}

ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}


ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-active:before {
    content: "\2713";
    color: white;
    background-color: #205081;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:before {
    background-color: #029937;
    content: "\2713";
    color: white;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;    
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}




.mockClass{
    border-color:#D197C6;
    background-color:#E8DAE8;
}

.operation-summary{
    cursor: pointer;
}

.resource_content_type{
    margin-top: 5px;
}

.resource_content_type label{
    font-weight: bolder !important;
    text-align: left  !important;
    font-size: 14px;    
    width: 200px !important;
}

.resource_details legend{
    margin-bottom: 0px;
}

.resource_controls .control-group{ margin-bottom: 0px !important; }

.api_design_edit{
    font-weight: normal;
    font-size: 0.7em;
    margin-left: 10px;
}

.api_design_edit i{
    vertical-align: center;
}

#design_form div.control-group, #implement_form div.control-group, #manage_form div.control-group{
    margin-bottom: 8px;
}

.resource_create .checkbox {
    margin-right: 5px;
    width:60px;
}

.resource_create .checkbox input{
    margin-right: 0px;
}

.error-multiselect {
    border-color: rgba(228, 38, 38, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(218, 68, 74, 0.6);
}

.transport-styles input{
    margin:4px 4px 0px 0px !important;
}

.transport-styles label{
    padding: 5px 20px 0px 0px
}

.transport-styles div.checkbox{
    padding: 0px
}

/*
thumbnails
---------
*/
.thumbnails > li{
    margin-left: 10px;
}
.thumbnails li:first-child{
    margin-left: 0;
}
.thumbnails  .thumbnail,
.thumbnails-fixed  .thumbnail {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    width: 150px;
    margin-right: 10px;
    position: relative;
}
.thumbnails  .thumbnail .link-h1,
.thumbnails-fixed  .thumbnail .link-h1 {
    display: block;
    color: #0b82ba;
    font-size: 14px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    height: 26px;
    position: relative;
}
.thumbnails  .thumbnail .link-h1:after,
.thumbnails-fixed  .thumbnail .link-h1:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 26px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 50%);
}
.thumbnails  .thumbnail .link-h2,
.thumbnails-fixed  .thumbnail .link-h2 {
    color: #888;
    display: inline-block;
    text-indent: 10px;
}
.thumbnails  .thumbnail a,
.thumbnails-fixed  .thumbnail a {
    text-decoration: none;
}
.thumbnails .thumbnail img {
    width: 100%;
    height: 150px;
}
.thumbnails .thumbnail .btn-group {
    position: absolute;
    display: none;
}
.thumbnails .thumbnail .caption{
    padding:9px 0 0 0;
}
.thumbnails .thumbnail .caption p{
    font-size: 11px;
}
.thumbnails button.btn-api-del {
    background: none repeat scroll 0 0 #444;
    border-radius: 3px;
    color: #fff;
    font-weight: 200;
    margin-left: 0;
    opacity: 0.8;
    padding: 3px 5px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.version-provider-wrapper{
    display: block;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    height: 26px;
    position: relative;
}
.version-provider-wrapper:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 26px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 50%);
}
.modal-footer .btn:last-child {
float: right;
}
.modal-footer .btn{
float:right;
margin: 2px;
}
