body{
    background: #efefef url(../images/back.jpg) repeat center top;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    min-width: 980px;
}
label, input, button, select, textarea{
    font-size: 13px;
}
.copy-msg{
    margin:10px 0 10px 0;
}
.copy-msg li{
    float:right;
    margin-right:10px;
    list-style-type:none;
}
.copy-msg li a{
    color:#CDA869;
}
.follow-us{
  margin:10px 0 10px 0;
}
.follow-us li{
     float:right;
    margin-right:5px;
    list-style-type:none;
}
.icon-blog{
    background:transparent url(../images/mailList.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-twitter{
    background:transparent url(../images/twitter.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-facebook{
    background:transparent url(../images/facebook.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-rss{
    background:transparent url(../images/rss.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.thumbnail{
    line-height:20px;
    text-align:center;
    min-height:184px;
}
.thumbnail a{
    cursor:pointer;
}
.thumbnail img{
    height:78px;
    width:78px;
}
.title-section {
    background: rgb(255,255,255); /* Old browsers */
     /* IE9 SVG, needs conditional override of 'filter' to 'none' */
     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
     background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
     background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */

     -webkit-border-radius: 5px 5px 0px 0px;
             border-radius: 5px 5px 0px 0px;

}
.content-section{
    background:white;
}

.content-data{
    padding:20px;
}
.content-section, .content-section-small, .title-section{
      -webkit-box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.title-section h1{
    margin:0 0 0 0;
}
.title-section h3{
    margin:0 0 0 20px;
    font-size:18px;
}
.title-section h2{
    margin:0 20px;
    font-size:22px;
    color: #7d7d7d;
    padding:10px;
}
.brand{
    position:absolute;
}
.brand img{
    width:200px;
}
table a{
    cursor:pointer;
}
.table th, .table td {
    font-size:12px;
}
#main-ajax-loader {
    text-align : center;
    height : 400px;
}
.requiredAstrix{
    color:red;
}
.nav .nav-header {
    font-size:13px;
}
.errorlist{
    color:#d10000;
    padding:5px 0px;
}
label.error{
    color:#d10000 !important;
    padding:5px;
}
input.error{
    border-color: rgba(228, 38, 38, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
}
.resourceTableDiv{
    padding-top:10px;
}

#copy-api {
    display: none;
}

.api-thumb {
    margin-bottom: 5px;
}
ul.thumbnails div.thumbnail{
    width:160px;
    height: 177px;
}
ul.thumbnails div.thumbnail:hover{
     border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.btn-api-del{
    margin-left: 136px;
    margin-top: -12px;
    opacity: .5;
    position: absolute;
}
.top-spaced{
    padding-top:40px;
}
.left-spaced{
    padding-left:10px;
}
div.navbar-inner {
    height:83px;
    min-width:450px;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    -webkit-box-shadow: 0 0 0 #fff;
}
#layout-base{
}
.menu-content{
    margin: 0 0 0;
}
a.powered-by-logo {
    background: transparent url(../images/poweredByLogo.png) no-repeat 0 0;
    display: block;
    width: 208px;
    height: 23px;
    cursor: pointer;
}
.navbar{
    margin-bottom: 16px;
}
.navbar .nav > li > a{
    color:#fff;
    text-shadow: 0 0 0 #FFFFFF;
}
.navbar .divider-vertical{
     background-color: #fff;
}
.even-width-button{    
    font-size: 11px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 84px;
}
.icon-lifecycle{
    background:transparent url(../images/lifecycle.png) no-repeat 0 0;
    width:14px;
    height:14px;
}
.lifeCycleTable{
    margin-bottom:10px;
}
.lifeCycleTable td{
    padding:5px 0;
}
.messageText{
    font-size:13px;
}
.user-name{
    cursor:pointer;
}
.loadingButton, .loadingButton:hover{
    background-image:url(../images/ajax-loader-black.gif);
    background-repeat:no-repeat;
    background-position:10px center;
    text-indent:30px;
    padding:20px;
    cursor:default;
}
.nav-list > li > a.noHover:hover{
    background:#fff;
}
.breadcrumb{
    position:absolute;
    left:10px;
    margin-top:-42px;
    background-color: transparent;
}
#left li a,.breadcrumb a {
    cursor:pointer;
}
#userInfoMenu{
    padding-bottom:0px;
}
#userInfoMenu a{
    color:#444 !important;
    margin-left:5px;
}
.themeSelection,.userInfoSection{
    padding:20px;
}
.themeSelection{
    width:400px;
}
.navbar .navbar-inner .nav.actions a.themeSelectionLink {
    margin:5px;
    color:#444;
}
.themeSelection a{
    color:#000;
}
.login-header{
    margin-bottom:37px;
}
#login-link{
    margin-left:0;
}
.logout-link-special{
    background:#999;
    padding:10px;
}
#resourceTable td label.inline, #resourceTable td label.inline{
    margin-left:10px;
    width:40px;
    padding:0 5px 5px;
}
#userInfoMenu{
    margin-left:-100px;
    position:absolute;
    background:white;
}
#userMenu{
    cursor:pointer;
}
#userMenu:hover{
    background:transparent;
    color:#fff;
}
#editStatusForm{
    padding-bottom:0;
}
.userSpecialCell{
    width:150px;
}
.appSpecialCell{
    width:150px;
}
.tierSpecialCell{
    width:50px;
}
/*
@media all and (max-width: 850px) {
    #left{
        display:block;
        width:100%;
    }
}
@media all and (max-width: 900px) {
    div.login-container div.row{
        padding:0 10px;
    }
    div.login-container div.span4{
        width:94%;
        margin:0;
        display:block;
        float:none;
    }
    #layout-base {
        min-height:0;
    }
}
@media all and (max-width: 1025px) {
     .pagination a{
        padding:0 9px;
    }
}
*/
.login-container{
    margin-top:20px;
}
.form-horizontal .controls .tierHelp,form.form-search .tierHelp {
  background:transparent url(../images/help.png) no-repeat;
  width:16px;
  height:16px;
  margin-top:-26px;
  cursor:pointer

}
form.form-search .tierHelp {
    margin-top:2px;
}

.form-horizontal .controls .tierPara,.form-horizontal .controls .rolePara{
  display: block;
  float: right;
  width: 63%;
  color: #999999;
  margin-bottom: 0;
  margin-top: 0;
  text-align:justify;
}

.form-horizontal .controls select {
  width: 32%;
}
.graphTable a {
       color: #c75f3e;
}

.graphTable {
       padding: 0;
       margin: 10px 0 0 0;
   border-left: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
}

.graphTable caption {
       padding: 0 0 5px 0;
       width: 700px;
       font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       text-align: right;
}

.graphTable th {
       font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #4f6b72;
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
       letter-spacing: 2px;
       text-transform: uppercase;
       text-align: left;
       padding: 6px 6px 6px 12px;
       background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.graphTable  th.nobg {
       border-top: 0;
       border-left: 0;
       border-right: 1px solid #C1DAD7;
       background: none;
}

.graphTable td {
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       background: #fff;
       padding: 6px 6px 6px 12px;
       color: #4f6b72;
}


.graphTable td.alt {
       background: #F5FAFA;
       color: #797268;
   width:100%;
}

.graphTable th.spec {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #fff;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.graphTable th.specalt {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #f5fafa;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #797268;
}
.remove-well-space{
   padding:0 0 10px 0;
}

#resourceTable  tr:nth-child(2n1) td{
     background-color: #cccccc;
}
#resourceTable td{
    vertical-align:middle;
    padding:3px;
}
#resourceTable td a.edit-btn-special{
    margin-top:10px;
}
#resourceTable td div.container-fluid{
    padding:0 0 0 5px;
}
#resourceTable label.checkbox {
    height:23px;
    line-height:23px;
}
#resourceTable select{
    font-size:11px;
}
#resourceTableDiv a{
    cursor:pointer;
}
#resourceTableDiv a.btn{
    margin-bottom:10px;
    text-align:left;
}
#resourceTableDiv button.btn{
    margin-bottom:10px;
    text-align:left;
}
.up-down-arrows{
    margin-left: 25px;
    margin-top: -40px;
    position: absolute;
}
.apiFaultyByTimeChart-filter{
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding:5px;
    margin-bottom:10px;
}


.easyPieWrapper{
    margin: 10px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #636363;
    text-align: center;
    width:124px;
}
.easyPieChart{
    margin: 0 auto;
}
#apiChart{
    font-size: 0.8em;
}
#serviceTimeChart{
    font-size: 1.2em;
}
#rangeSliderWrapper{
    height: 60px;
    position: relative;
    border: 2px solid #C8C8C8 !important;
}
#rangeSliderWrapper #rangeSlider{
    position: relative;
    top: 40px;
    width:96%;
    left:10px;

}
.affix{
    position: fixed!important;
    top:10px;
    z-index: 9999!important;
}
#serviceTimeChart{
    color:#3C565E!important;
    font-size: 1.2em!important;
}

.tdNumberCell{
    text-align: right!important;
}
.errorWrapper{
    font-size:1.4em;
}
.top-level-warning {
    display: block;
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
    width: 98%;
}
a.warningLink{
   color: #FFFFFF;
    text-decoration: underline;
}
a.warningLink:hover{
    color: #FFE9B5;
}

.btn-api-del {
    margin-left: 143px;
    margin-top: 7px;
    opacity: 0.5;
    position: absolute;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
h1, h2, h3, h4, h5, h6{
    margin:0;
}
.footer-main{
    background:transparent url(../images/appFac_59.jpg) repeat;
    padding:10px 0;
    width:100%;
    z-index:-1;
    min-height: 68px; /* .push must be the same height as .footer */
    color:#9f9f9f;
}

.btn-primary,.btn {
    font-size:12px;
    text-align: left;
}
.btn-success:hover, .btn-success:focus{
    background-color: #3cbca4;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    background-color: #395751 !important;
}
.btn-primary {
  color: #fff;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  background-color: #395751;
  *background-color: #395751;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3cbca4), to(#395751));
  background-image: -webkit-linear-gradient(top, #3cbca4, #395751);
  background-image: -o-linear-gradient(top, #3cbca4, #395751);
  background-image: linear-gradient(to bottom, #3cbca4, #395751);
  background-image: -moz-linear-gradient(top, #3cbca4, #395751);
  background-repeat: repeat-x;
  border-color: #3cbca4 #3cbca4 #3b363d;
  border-color: rgba(57, 87, 81, 0.1) rgba(57, 87, 81, 0.1) rgba(60,188,164, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3cbca4', endColorstr='#395751', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #efefef;
  background-color: #395751;
  *background-color: #395751;
}
.btn-primary:active,
.btn-primary.active {
    *background-color: #395751   \9;
}

.header{
    background:transparent url(../images/appFac_02.jpg) repeat-x;
    height:143px;
    padding:0;
    position:absolute;
    width:100%;
    z-index:-1;
}
.top-menu{
    background:transparent url(../images/appFac_04.jpg) repeat-x;
    height:143px;
}
.brand{
    width:185px;
    height:26px;
    display:block;
    margin-top:15px;
    margin-left:0;
}
.menu-back{
    background:transparent url(../images/appFac_04.jpg) repeat-x;
    height:55px;
    margin-left: 0;
}
.menu-content{
    border-left:solid 5px #4b4b4b;
    margin-top:7px;
    margin-left:0;
    height:46px;
}
.form-actions{
    background: transparent;
}

.navbar ul.login-sign-up{
    margin-right: 0;
}
div.navbar-inner{
    padding-right:0;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -140px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 150px;
}
#footer {
    background-color: #f5f5f5;
}

.share-pane a.facebook{
    background:transparent url(../images/facebook_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.linkedin{
    background:transparent url(../images/linkedin_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.twitter{
    background:transparent url(../images/twitter_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.help-links li a{
    color: #aeaeae;
}
.help-links li{
    list-style-type: none;
}
.help-links{
    margin:0;
}
.help-and-links div.pull-left{
    margin-right: 40px;
}
.help-links li a.more-link{
    color:#777;
}
.footer-mains h5{
    margin-bottom:15px;
}
.left-menu-back01{
    background: transparent url(../images/left-menu-back01.png) repeat left top;
    padding:10px 0;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{
    background-color: #444;
}
.left-menu-back01 li.nav-header{
    color:#444;
}
.thumbnail h5 div{
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   display: block;
}
.navbar-inner,.menu-content{
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.radio-class {
	float:left;
	clear:none;
	margin: 2px 0 0 2px;
}
.radio-label-class {
	float:left;
	clear:none;
	display:block;
	padding: 2px 1em 0 0;
}
.form-horizontal div.transport-styles {
    margin-bottom:30px;
}

.transport-styles label.error{
    display:block;position:absolute;margin-top:40px;margin-left:-23px;
}
legend{
    margin-left:10px;
}
.form-horizontal div.inline-help{
    margin-top:0;
}
div.controls .help-block{
    color: #747474;
    font-size: 11px;
    margin-top: 5px;
}
/*.legend-with-hidden-info{
    margin-bottom: 0;
}*/
.hidden-section{
    margin-left: 10px;
}
.resourceTableContainer{
    padding-left:10px;
}
.legend-link{
    font-size: 11px;
}
i.icon-keys{
    margin-top:7px;
}
.js_hidden_section_title{
    cursor: pointer;
}
#editAPIForm div.control-group, #addAPIForm div.control-group{
    margin-bottom: 8px;
}
#editAPIForm div.form-actions, #addAPIForm div.form-actions{
    padding-left: 10px;
}

._jsonform-array-ul .controls{
    margin-left:0px !important;
    margin-top:25px;
}

._jsonform-array-ul label{

    float:left;
    margin-bottom:0px;
    text-align:left !important;
}

._jsonform-array-ul {
    margin-left:0px !important;
}

.url_validate_label { margin-left: 5px;}

#advance_form legend{
    font-size:14px;
    font-weight:bolder;
    margin-left:0px;
    line-height:16px;
}

/* bootstrap overide */
legend + .control-group {
    margin-top:0px;
}
.left-menu-back01{
    min-height: 190px;
}
.content-data{
    min-height: 111px;
}
.task-col{
    width:200px;
}
.date-time-col{
    width:200px;
}
.manage-col{
    width:310px;
}

