ul.breadcrumb {
	margin-top:-60px;
}
ul.breadcrumb li{
    float:left;
    display:block;
}
button.btn-api-del{
    padding:0 5px;
}
div.menu-back{
    margin-top: -18px;
}
#left{
    margin-top: 50px;
}
#middle{
    margin-top: 50px;
}
.logo-section{
    margin-top:-18px;
}