<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AM-Test">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="am-platform-test" preserve-order="true" parallel="false">
        <classes>
        <!--<class name="org.wso2.automation.platform.tests.apim.is.SingleSignOnTestCase"/>-->
        <class name="org.wso2.automation.platform.tests.apim.bam.APIUsageBAMIntegrationTestCase"/>

    </classes>
    </test>

</suite>
