<sequence xmlns="http://ws.apache.org/ns/synapse" name="add_secret_headers">
   <property action="set" name="apiKey" value="{{apiKey}}" scope="transport" />
   <property action="set" name="token" value="{{token}}" scope="transport" />
</sequence>
