<sequence xmlns="http://ws.apache.org/ns/synapse" name="force_content_length">
   <property name="FORCE_HTTP_CONTENT_LENGTH" value="true" scope="axis2"/>
   <property name="COPY_CONTENT_LENGTH_FROM_INCOMING" value="true" scope="axis2"/>
   <property name="DISABLE_CHUNKING" value="true" scope="axis2"/>
</sequence>
