<class name="org.wso2.apim.policies.mediation.ai.intelligent.model.routing.IntelligentModelRouting">
	<property action="set" name="intelligentModelRoutingConfigs" value="{{intelligentModelRoutingConfigs}}" scope="transport" />
</class>