<class name="org.wso2.apim.policies.mediation.ai.semantic.routing.SemanticRouting">
	<property action="set" name="semanticRoutingConfigs" value="{{semanticRoutingConfigs}}" scope="transport" />
</class>