<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<sequence xmlns=\"http://ws.apache.org/ns/synapse\" name=\"{{sequence_name}}\">
    <switch source=\"$ctx:URL_TEMPLATE_SWITCH\">
    {% for case in case_list %}
        <case regex=\"{{case.case_regex}}\">
        {% for policy in case.policy_sequence %}
            {{policy}}
        {% endfor %}
        </case>
    {% endfor %}
    {% if fault_sequence %}
        <default>
            <sequence xmlns="http://ws.apache.org/ns/synapse" name="fault"/>
        </default>
    {% endif %}
    </switch>
</sequence>