<log level="custom">
    <property name="MESSAGE" value="json_validator"/>
</log>
<property name="maxPropertyCount"  value = "{{maxPropertyCount}}"/>
<property name="maxStringLength"  value = "{{maxStringLength}}"/>
<property name="maxArrayElementCount"  value = "{{maxArrayElementCount}}"/>
<property name="maxKeyLength"  value = "{{maxKeyLength}}"/>
<property name="maxJsonDepth"  value = "{{maxJsonDepth}}"/>
<property name="RequestMessageBufferSize" value="{{requestMessageBufferSize}}"/>
<class name="{{jsonSchemaValidator}}"/>