.page-header-back{
    width:970px;margin:-15px auto;
}
.navbar-inner div.menu-content{
    width:970px; margin:0 auto;
}
div.search-back{
    width:970px;
}
div.search-back div.input-append{
    position:absolute;
    left:0;
    margin-left:300px;
}
div.search-back div.pull-left{
    float:none;
}
div.search-back div.span9{
    float:none;
    background:red;
    display:block;
}