<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<sequence xmlns=\"http://ws.apache.org/ns/synapse\" name=\"{{sequence_name}}\">
{% if gateway_policies is defined %}
   {% for policy in gateway_policies %}
       {{policy}}
   {% endfor %}
{% endif %}
</sequence>