<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--
Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<suite name="AMTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener
                class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener
                class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="AM-Sample-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.am.jmeter.JmeterDomainRestrictionTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.JmeterLoginTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.JmeterTransportRestrictionTestCase"/>
            <!--<class name="org.wso2.carbon.am.jmeter.JmeterSuperTenantTestCase"/>-->
            <!--<class name="org.wso2.carbon.am.jmeter.JmeterTestCases"/>-->
            <!--<class name="org.wso2.carbon.am.jmeter.PassthroughTestCase"/>-->
        </classes>
    </test>

</suite>