<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AMTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="AM-Jmeter-Test" preserve-order="true" verbose="2">
        <classes>

            <class name="org.wso2.carbon.am.jmeter.JmeterDomainRestrictionTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.APIMANAGER2937CacheEvictionTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.APIMANAGER2964MySubscriptionsPerformanceTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.APIMANAGER3195JWTWithWSClientTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.JmeterLoginTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.JmeterTransportRestrictionTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.JmeterTestCases"/>
            <class name="org.wso2.carbon.am.jmeter.APIMANAGER3427APINameValidationPerformanceTestCase"/>
            <!-- <class name="org.wso2.carbon.am.jmeter.JmeterSuperTenantTestCase"/>
            <class name="org.wso2.carbon.am.jmeter.JmeterPassThroughTestCase"/>-->
            <class name="org.wso2.carbon.am.jmeter.APIMANAGER4163InvalidStoreUrlPerformanceTestCase"/>

        </classes>
    </test>

</suite>