.box1-head{
background-image:url(../images/table_header.gif);
background-repeat:repeat-x;
background-position:0px 0px;
border:solid 1px #cccccc;
border-bottom:none;
padding-right:5px;
padding-left:5px;
height:25px !important;
}
.box1-head a {
color:#000000 !important;
text-decoration:none;
}
.box1-head-right{
text-align:right;
width:14px;
}
.box1-head h2 {
color:#000000 !important;
font-size:11px !important;
font-weight:bold !important;
line-height:20px !important;
border:none !important;
margin:0px !important;
padding:0px !important;
height:0px !important;
}

.box1-mid {
background-color:#FFFFFF;
border:1px solid #cccccc;
margin-bottom:20px;
min-height:20px;
padding:6px 5px 5px 5px;
}
.box1-mid-fill{
background-color:#FFFFFF;
margin-bottom:20px;
height:20px;
}
.box1-mid table{
*width:99% !important;
}
a {
cursor:pointer;
color:#386698;
}
.box2-mid {
background-color:#FFFFFF;
border:1px solid #6E6E6E;
margin-bottom:20px;
padding:6px 5px 5px 6px;
}
.sub-headding-comments {
line-height:25px;
}
.sub-headding-tags {
line-height:25px;
}
.sub-headding-ratings{
line-height:25px;
}
.sub-headding-dependencies {
line-height:25px;
}
.sub-headding-associations {
line-height:25px;
}
.sub-headding-prop {
line-height:25px;
}
.sub-headding-ratings {
line-height:25px;
}
.thead-right{
}
.universal-add{
background-image:url(../images/universal-add.gif);
background-position:0px 0px;
background-repeat:no-repeat;
display:block;
width:13px;
height:13px;
margin-top:3px;
}
.importantArea {
background-color:#DDDDDD;
border:1px solid #949494;
padding:5px;
}
.simple-data-table th {
color:#565656;
font-weight:bold;
padding-left:3px;
padding-top:7px;
text-align:left;
font-size:11px;
}
.toolBarTable {
display:inline;
width:120px;
}
.toolBarTable td {
padding-left:5px;
}
#pointLeft,#pointRight{
vertical-align:top;
    margin:0 !important;
padding:0 !important;
vertical-align:top;
width:0 !important;
}
.pointLeft{
background-image:url(../images/point-left.gif);
background-position:0px 0px;
background-repeat:no-repeat;
display:block;
width:18px;
height:86px;
}
#pointRight{
border-left:1px solid #CCCCCC;
}
.pointRight{
background-image:url(../images/point-right.gif);
background-position:0px 0px;
background-repeat:no-repeat;
display:block;
width:18px;
height:86px;
}
.contraction-spacer{
width:3px;
}
.resource-right{
width:30%;
}
.required{
color:red;
}
.top-toolbar-back{
    margin-top:3px;
}
.top-toolbar-back td a{
line-height:18px;
}
.top-toolbar-back td{
color:#386698;
font-size:15px;
}
.perRow td{
    background-color:#c6c7c8;
    font-weight:bold;
    text-align:center;
    border-right:1px solid #DFDFDF !important;
}
#resourceTree {
background-color:#FFFFFF;
border:4px solid #CCCCCC;
height:auto;
left:150px;
min-height:500px;
position:absolute;
right:10px;
top:60px;
z-index:100;
}
.close-button-position{
display:none;
}
.headding-tree{
font-size:11px;
font-weight:bold;
text-indent:10px;
border-bottom:solid 1px #202020;
}
.headding-tree-back{
background-color:#d1d1d1;
}
.father-object {
border-bottom:1px solid #EDEDD1;
border-left:1px solid #EDEDD1;
border-top:1px solid #EDEDD1;
height:25px;
padding-left:5px;
padding-top:3px;
}
.child-objects {
margin-left:10px;
}
.resource-tree-headding {
background-color:#ededed;
color:black;
font-weight:bold;
height:30px;
padding-left:10px;
padding-top:10px;
}
.registry-breadcrumb{
font-size:15px;
}
.resource-path{
margin-bottom:10px;
}
.horizontalList{
padding:0px;
margin:0px;
}
.horizontalList li{
float:left;
padding-right:5px;
}
#perMinimized{
border:none;
margin-bottom:0px;
}
.icon-link-ouside{
height:25px;
margin-left:-10px;
position:relative;
}
.summeryStyle{
color:#aaaaaa;
line-height:25px;
}
.summeryLink{
color:#aaaaaa !important;
}
.expanIconCell{
width:10px;
}
.expanIconCell img{
margin-top:3px;
}
.pagingRow{
height:30px;
text-align:center !important;
}
.pagingRow ul{
list-style-type:none;
}
.pagingRow ul li{
float:right;
}
.disableLink{
 color:#aaaaaa;
}
.pageLinks{
    background:#FFFFFF none repeat scroll 0%;
border:1px solid #DDDDDD;
padding:2px 3px;
text-decoration:none;
margin:0px;
margin-left:2px;
margin-right:2px;
}
.pageLinks-selected{
    background:#e8e9ae none repeat scroll 0%;
border:1px solid #DDDDDD;
padding:2px 3px;
text-decoration:none;
margin:0px;
margin-left:2px;
margin-right:2px;
}
.popup-main{
position:absolute;
left:0px;
top:0px;
height:200%;
width:100%;
background-image:url(../images/popback.png);
background-repeat:repeat;
background-position:0px 0px;
background-color:#cccccc;
opacity:0.5;

*background-color:transparent;
z-index:10;
}
.ui-dialog-content{
padding:0px;
overflow-y:auto;
overflow-x:hidden;
}
div#messagebox{
padding:10px;
}
.tree-row-object{
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:100%;
}
.tree-row-object li{
    float:left;
}
.first{
width:60%;
}
.second{
    width:20%;
}
.third{
    width:20%;
}
#permissionsDiv h3{
font-size:12px !important;
font-weight:bold !important;
}
#permissionsDiv h4{
font-size:12px !important;
font-weight:bold !important;
color:#999999;
}
#tagList a{
background-color:#e2e2e2;
line-height:30px;
}

/* Tag cloude styles */
.cloude-text{
color:#3c260c;
}
.cloude-text a{
background-color:#ffffa4;
margin-right:5px;
padding:2px;
}
.cloud-x1{
font-size:11px;
}
.cloud-x2{
font-size:14px;
}
.cloud-x3{
font-size:18px;
}
.cloud-x4{
font-size:22px;
}
.cloud-x5{
font-size:26px;
}
.cloude-text a:hover{
color:#000000;
font-weight:bold;
}
a.add-resource-icon-link{
    background-image: url( ../../admin/images/add-resource.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.add-collection-icon-link{
    background-image: url( ../../admin/images/add-collection.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.resource-icon-link{
    background-image: url( ../images/resource.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.resource-icon-link-x{
    background-image: url( ../images/resource-extn.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.download-icon-link{
    background-image: url( ../images/icon-download.jpg);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.save-icon-link{
    background-image: url( ../images/save-button.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.cancel-save-icon-link{
    background-image: url( ../../admin/images/cancel.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.folder-small-icon-link{
    background-image: url( ../images/icon-folder-small.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 0px !important;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.folder-small-icon-link-x{
    background-image: url( ../images/collection-extn.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 0px !important;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.details-icon-link{
    background-image: url( ../images/icon-details.jpg);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.restore-icon-link{
    background-image: url( ../images/icon-restore.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;  
}
a.feed-small-res-icon-link{
    background-image: url(../images/icon-feed-small.gif);
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 17px;
    line-height: 17px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
}
.resource-tree-box{
height:365px;
overflow-y:auto;
}
select{
*font-size:13px !important;
}
.resource-actions a {
float:right;
}
.action-pane{
background-color:#f3f3f3;
border-bottom:none !important;
border-left:solid 1px #717171;
border-right:solid 1px #717171;
border-top:none !important;
}
.action-pane-helper{
padding-left:0px !important;
margin-left:0px !important;
}
.actionSelected{
border-bottom:none !important;
background-color:#f3f3f3;
}
.entryName-right{
text-align:right !important;
border:none !important;
padding:0px !important;
margin:0px !important;
margin-top:5px;
}
.entryName-left{
border:none !important;
padding:0px !important;
margin:0px !important;
text-align:left !important;
}
.entryName-contracted{
    background-image: url( ../images/arrow-right.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    display:block;
    height:16px;
float:left;
line-height:17px;
margin-left:0 !important;
margin-top:5px;
padding-left:20px;
position:relative;
white-space:nowrap;
}
.entryName-expanded{
    background-image: url( ../images/arrow-up.gif);    
    background-repeat: no-repeat;
    background-position: left top;
    display:block;
    height:16px;
float:left;
line-height:17px;
margin-left:0 !important;
margin-top:5px;
padding-left:20px;
position:relative;
white-space:nowrap;

}