.input-area label {
    width: 150px;
    display: block;
    float: left;
}

.vertical-line {
    background-image: url( ../images/line.png );
    background-repeat: repeat-y;
    background-position: 8px 0px;
}

.vertical-line-alone {
    background-image: url( ../images/line.png );
    background-repeat: repeat-y;
    background-position: 8px 0px;
    margin-top: 0px;
    height: 15px;
width: 16px;
clear: left;
padding-bottom: 0px;
}

.workArea ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.workArea ul li{
    *width:400px;
}
.treePane {
    padding-left: 10px;
    padding-top: 10px;
}

.child-list {
    padding-left: 26px;
    padding-bottom:10px;
float: left;
clear: left;
}

.child-list li {
    text-align: left;
float: left;
clear:left;
}

.branch-node {
    background-image: url( ../images/line.png );
    background-repeat: repeat-y;
    background-position: 8px 0px;
    height: 15px;
    margin-left:26px;
margin-top:0px;
	width: 16px;
float: left;
clear: left;
}

.mediators {
    background-image: url( ../images/node-normal.gif );
    background-repeat: no-repeat;
    background-position: 2px 3px;
    margin-top: 0px;
    margin-left: 2px;
    vertical-align: middle;
    line-height: 22px;
    float: left;
}
.mediators a{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 3px 2px;
    display:block;
    text-indent: 24px;
    color:#00447C;
    line-height: 22px;
	float: left;
padding-right: 5px;
white-space: nowrap;
}

.mediators a:hover {
color: #f47b20;
}

.root-mediator {
}

.endpoit-toolbar {
    border: solid 1px #3d5a72;
    background-color: #ccd3d8;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
    height: 230px;
    position: absolute;
    right: 10px;
    top: 100px;
}

.endpoit-toolbar a {
    display: block;
    border-bottom: solid 1px #91aabd;
    padding: 3px;
    color: #2f486a;
    text-decoration: none;
    vertical-align: middle;
}

.endpoit-toolbar a img {
    border: none;
    vertical-align: middle;
    padding-right: 5px;
}
.endpoint-info{
    margin-top:10px;
}
.endpoint-info-title {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

.endpoint-info-content {
    background-color: #ffffff;
    border: solid 1px #767676;
    padding: 5px;
}
.selected-node {
    background-image: url( ../images/node-selected.gif ) !important;
    background-color: #E8E8E8;
    color: #00447C;
}

.selected-node a {
	color:#0D4D79 !important;
}
a.mediatorLink:hover {
	color:#f47b20;
}
.error-message{
    border:solid 1px #91aabd;
    padding:10px;
    margin-bottom:5px;
    background-color:#f1f1f1;
    color:#ee2f00;
    font-size:12px;
}
/* Tab styles */
.tabPane {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: -1px;
    height: 23px;
}

.tabPane li {
    float: left;
    background-image: url( ../images/tab-unselected.gif );
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 98px;
    height: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    padding-top: 3px;
}

.tabPane li.selected {
    color: #000000;
    background-image: url( ../images/tab-selected.gif );
    float: left;
    border:none;
}

.tabPaneContent,.tabPaneContentMain {
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding: 10px;
    width:99%;
}

.minus-icon {
    background-image: url( ../images/icon-tree-minus.gif );
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /*position: absolute;*/
    width: 22px;
    height: 22px;
    z-index: 100;
    cursor: pointer;
	float:left;
clear: left;
    margin-left:0px;
   /* *margin-left:-19px; 
    *margin-top:-7px; */
}
.dot-icon {
    background-image: url( ../images/icon-tree-dot.gif );
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /*position: absolute;*/
    width: 22px;
    height: 22px;
    z-index: 100;
    cursor: pointer;
	float:left;
clear: left;
    margin-left:0px;
}

.plus-icon {
    background-image: url( ../images/icon-tree-plus.gif );
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /*position: absolute;*/
    width: 22px;
    height: 32px;
    z-index: 100;
    cursor: pointer;
     margin-left:0px;
     margin-top:0px;
float: left;
clear: left;
}
.plus-icon-alone {
    background-image: url( ../images/icon-tree-plus-alone.jpg );
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: absolute;
    width: 20px;
    height: 32px;
    z-index: 100;
    cursor: pointer;
     margin-left:5px;
     margin-top:0px;
    *margin-left:-19px;
    *margin-top:-7px;

}
/* Toolbar styles */
.sequenceToolbar{
line-height:21px;
height: 21px;
padding-left:3px;
padding-right: 3px;
float: left;
background-color: #fff;
border-left: solid 1px #ccc;
border-top: solid 1px #e8e8e8;
border-bottom: solid 1px #e8e8e8;
border-right: solid 1px #e8e8e8;
}
.sequenceToolbar div{
float:left;
margin-right:5px;
}
.sequenceToolbar div a{
cursor:pointer;
font-size:10px;
font-family:verdana;
    width:auto;
    text-indent:0px;
}
.addChildStyle,.addSiblingStyle{
background-image:url(../../admin/images/add.gif);
background-repeat:no-repeat;
background-position:0 0;
padding-left:22px;
padding-right: 0px !important;
}
.sequenceSep{
background-image:url(../images/seperator.gif);
background-repeat:no-repeat;
background-position:0 0;
width:3px !important;
display: none;
}
.moveUpStyle{
background-image:url(../images/up.gif);
background-repeat:no-repeat;
background-position:0 0;
display:block;
width:18px !important;
height:18px !important;
line-height: 18px !important;
padding-top: 0px !important;
padding-bottom: 0px !important;padding-left: 0px !important;padding-right: 0px !important;
}
.moveDownStyle{
background-image:url(../images/down.gif);
background-repeat:no-repeat;
background-position:0 2px !important;
display:block;
width:18px !important;
height:18px !important;
line-height: 18px !important;
padding-top: 0px !important;
padding-bottom: 0px !important;padding-left: 0px !important;padding-right: 0px !important;
}
.deleteStyle{
background-image:url(../../admin/images/delete.gif);
background-repeat:no-repeat;
background-position:0 0;
display:block;
height:18px !important;
padding-left:22px;
padding-right: 0px !important;
}
.mediatorSrc{
border: 1px solid transparent; 
width: 98%; 
height: 200px; 
margin: 0px;
padding: 8px;
}