<?xml version="1.0" encoding="UTF-8"?>
<inboundEndpoint name="SecureWebhookServer"
                 protocol="https"
                 suspend="false" sequence="TestIn" onError="fault" >
    <p:parameters xmlns:p="http://ws.apache.org/ns/synapse">
        <p:parameter  name="inbound.http.port">{{apim.webhooks.https.port}}</p:parameter>
        <p:parameter name="keystore">
            <KeyStore xmlns:svns="http://org.wso2.securevault/configuration">
                <Location>{{apim.webhooks.https.key_store.location}}</Location>
                <Type>{{apim.webhooks.https.key_store.type}}</Type>
                <Password>{{apim.webhooks.https.key_store.password}}</Password>
                <KeyPassword>{{apim.webhooks.https.key_store.key_password}}</KeyPassword>
            </KeyStore>
        </p:parameter>
        <p:parameter name="truststore">
            <TrustStore xmlns:svns="http://org.wso2.securevault/configuration">
                <Location>{{apim.webhooks.https.trust_store.location}}</Location>
                <Type>{{apim.webhooks.https.trust_store.type}}</Type>
                <Password>{{apim.webhooks.https.trust_store.password}}</Password>
            </TrustStore>
        </p:parameter>
    </p:parameters>
</inboundEndpoint>
