<?xml version="1.0" encoding="UTF-8"?>
<eventPublisher name="HTTP-recommendationEventPublisher"
    processing="enable" statistics="disable" trace="disable" xmlns="http://wso2.org/carbon/eventpublisher">
    <from streamName="org.wso2.apimgt.recommendation.event.stream" version="1.0.0"/>
    <mapping customMapping="disable" type="json"/>
    <to eventAdapterType="http-extended">
        <property name="http.url">{{apim.devportal.recommendations.event_publishing_endpoint}}</property>
        <property name="oauth.url">{{apim.devportal.recommendations.oauth_endpoint}}</property>
        <property name="oauth.clientkey">{{apim.devportal.recommendations.consumer_key}}</property>
        <property name="oauth.clientsecret">{{apim.devportal.recommendations.consumer_secret}}</property>
        <property name="http.client.method">HttpPost</property>
    </to>
</eventPublisher>
