.wr-main-content {
    padding: 40px;
}
#resource_url_pattern_refix {
  font-weight: bold;
  font-size: 11px;
}
.multiselect-container{
    top:35px;
    background:#ddd;
}
.multiselect-container>li>a{
    padding:4px 30px;
    border-bottom:1px solid #fff;
}
.multiselect-container>li>a> .checkbox{
    padding-top:5px;
}